.home-section {
    background: url(src\assets\images\home\home2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 900px;
    width: 100%;
}

.home-section .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 900px;
    background-color: rgba(0, 0, 0, 0.6);
}

.dark-overlay {
    justify-content: center;
    align-items: center;
}

.text {
    flex-direction: column;
}

.title {
    font-size: 4rem;
}

.description {
    font-size: 1.4rem;
}

.title,
.description {
    color: rgb(226, 226, 226);
}

.main-section {
    min-height: auto;
}

.bottom-section {
    min-height: 500px;
    background-color: #343a40;
}

.image {
    height: auto;
    width: 370px;
}

.text {
    color: rgb(226, 226, 226);
}