<div class="home-section">
    <div class="dark-overlay">
        <div class="row text">
            <p class="text-center title mb-5" data-aos="fade-down" data-aos-duration="1000" data-aos-once="true" data-aos-delay="0">XPense</p>
            <p class="description text-uppercase" data-aos="fade-down" data-aos-duration="1200" data-aos-once="true" data-aos-delay="1200">{{"Home.TitleDesc" | translate}} </p>
            <button *ngIf="!isSignedIn" [routerLink]="['/main/reg']" class="btn btn-outline-warning" data-aos="fade-down" data-aos-duration="1000" data-aos-once="true" data-aos-delay="2200">{{"Home.Start" | translate}}</button>
            <button *ngIf="isSignedIn" [routerLink]="['/main/reg']" class="btn btn-outline-warning" data-aos="fade-down" data-aos-duration="1000" data-aos-once="true" data-aos-delay="2200">Cont{{"Home.Continue" | translate}}inue</button>

        </div>
    </div>
</div>
<div class="main-section container">
    <div class="row mb-5 mt-5">
        <div class="col-md-4 text-center" data-aos="fade-up" data-aos-duration="1200" data-aos-once="true" data-aos-delay="0">
            <img src="assets/images/home/001-wallet.svg" class="img-fluid w-25 mb-4">
            <h3 class="card-title">{{"Home.SaveMoney" | translate}}</h3>
            <p>{{"Home.SaveText" | translate}}</p>
        </div>
        <div class="col-md-4 text-center" data-aos="fade-up" data-aos-duration="1200" data-aos-once="true" data-aos-delay="100">
            <img src="assets/images/home/004-cart.svg" class="img-fluid w-25 mb-4">
            <h3 class="card-title">{{"Home.ControlBudget" | translate}}</h3>
            <p>{{"Home.ControlText" | translate}}</p>
        </div>
        <div class="col-md-4 text-center" data-aos="fade-up" data-aos-duration="1200" data-aos-once="true" data-aos-delay="200">
            <img src="assets/images/home/006-credit-card.svg" class="img-fluid w-25 mb-4">
            <h3 class="card-title">{{"Home.TrackExpenses" | translate}}</h3>
            <p>{{"Home.TrackText" | translate}}</p>
        </div>
    </div>
</div>

<div class="bottom-section">
    <div class="container">
        <div class="row pt-5">
            <div class="col-lg-6 mb-5">
                <div class="image" data-aos="fade-right" data-aos-duration="1200" data-aos-once="true" data-aos-delay="0">
                    <img src="assets/images/home/home middle.jpg" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-5 ml-auto text">
                <div class="mb-4">
                    <p class="text-black benefit-title" data-aos="fade-left" data-aos-duration="1200" data-aos-once="true" data-aos-delay="200">{{"Home.Benefits" | translate}}</p>
                </div>
                <div class="mb-4">
                    <ul class="check-list">
                        <li data-aos="fade-left" data-aos-duration="1200" data-aos-once="true" data-aos-delay="300">
                            <i class="fas fa-check"></i>
                            <p>{{"Home.Benefit1" | translate}}</p>
                        </li>
                        <li data-aos="fade-left" data-aos-duration="1200" data-aos-once="true" data-aos-delay="400">
                            <i class="fas fa-check"></i>
                            <p>{{"Home.Benefit2" | translate}}</p>
                        </li>
                        <li data-aos="fade-left" data-aos-duration="1200" data-aos-once="true" data-aos-delay="500">
                            <i class="fas fa-check"></i>
                            <p>{{"Home.Benefit3" | translate}}</p>
                        </li>
                        <li data-aos="fade-left" data-aos-duration="1200" data-aos-once="true" data-aos-delay="600">
                            <i class="fas fa-check"></i>
                            <p>{{"Home.Benefit4" | translate}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>