<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
  <a class="navbar-brand ml-5" href="#">Wallet SPA</a>
  <ul *ngIf="isLoggedIn" class="navbar-nav ml-5">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/main']" >Main</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"[routerLink]="['/home']">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
  </ul>
  <div class="ml-auto" *ngIf="!isLoggedIn">
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <ul class="navbar-nav">
          <div class="mr-2">
            <li>
              <label for="login" class="text-light">Login</label>
              <input formControlName="username" id="login" type="text" class="form-control-sm">
            </li>
          </div>
          <li>
            <div class="mr-2">
              <label class="text-light" for="password">Password</label>
              <input formControlName="userpass" type="password" class="form-control-sm ml-3">
            </div>
          </li>
          <li><button class="btn btn-secondary btn-sm">Login</button></li>
        </ul>
      </div>
    </form>
  </div>
  <div class="ml-auto text-light" *ngIf="isLoggedIn">
    Hello {{currentUserName}}
    <button class="btn btn-outline-secondary"(click)="logout()" >Logout</button>
  </div>
</nav>
