@media (max-width: 550px) {
    .input-group-text {
        font-size: 13px;
    }
}

@media (max-width: 420px) {
    .input-group-text {
        font-size: 10px;
    }
    .input-data {
        font-size: 11px;
    }
    .outer {
        padding: 0px !important;
    }
}

@media (max-width: 300px) {
    .input-group-text {
        font-size: 9px;
    }
}