.table tr {
    color: var(--card-table-text);
}

.table thead tr {
    color: var(--card-table-header);
}

.user-cell,
.details-cell,
.user-header,
.details-header {
    width: 25% !important;
}

.title-cell,
.date-cell,
.money-cell,
.title-header,
.date-header,
.money-header {
    width: 16% !important;
}


th.mat-header-cell:first-of-type{
    padding-left: 0 !important;
}

th.mat-header-cell:last-of-type{
    padding-right: 0 !important;
}

@media (max-width: 992px) {
    .details-cell,
    .details-header {
        display: none !important;
    }
    .user-table-header,
    .user-table-cell {
        width: 20% !important;
    }
    .title-table-header,
    .title-table-cell {
        width: 20% !important;
    }
    .date-table-header,
    .date-table-cell {
        width: 25% !important;
    }
    .category-table-header,
    .category-table-cell {
        width: 25% !important;
    }
    .money-table-cell,
    .money-table-header {
        width: 10% !important;
    }
    .user-header,
    .user-cell {
        width: 30% !important;
    }
    .title-header,
    .title-cell {
        width: 30% !important;
    }
    .date-header,
    .date-cell {
        width: 25% !important;
    }
    .money-cell,
    .money-header {
        width: 15% !important;
    }
}

@media (max-width: 405px) {
    .mat-paginator-range-label {
        margin: 0 !important;
    }
}


/* @media (max-width: 660px) {
    .date-value {
        font-size: 20px;
    }
    .left,
    .right {
        font-size: 50px !important;
    }
}

@media (max-width: 570px) {
    .date-value {
        font-size: 15px !important;
    }
    .left,
    .right {
        font-size: 40px !important;
    }
}  */