.icon-color-1 {
  color: var(--icon-color-1);
}
.icon-color-2 {
  color: var(--icon-color-2);
}
.icon-color-3 {
  color: var(--icon-color-3);
}
.icon-color-4 {
  color: var(--icon-color-4);
}
.icon-color-5 {
  color: var(--icon-color-5);
}
