<div class="container">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>{{'Admin.From' | translate}}</th>
                    <th>{{'Expenses.WalletTitle' | translate}}</th>
                    <th>{{'Expenses.Date' | translate}}</th>
                    <th>{{'Expenses.Actions' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let invite of invites">
                    <td scope="row">{{invite.inviteCreatorEmail}}</td>
                    <td>{{invite.walletTitle}}</td>
                    <td>{{getFormat(invite.inviteCreationTime)}}</td>
                    <td><button class="btn btn-success btn-sm mr-2" (click)="acceptInvite(invite.walletId)">{{'NoWallet.Accept' | translate}}</button>
                        <button class="btn btn-danger btn-sm" (click)="declineInvite(invite.walletId)">{{'NoWallet.Decline' | translate}}</button>
                </tr>
            </tbody>
        </table>
    </div>
    <button (click)="back()" class="btn btn-primary">{{'Profile.Back' | translate}}</button>
</div>