<div *ngIf="isLoading" class="loader-wrapper">
    <div class="loader">
        <div class="face">
            <div class="circle"></div>
        </div>
        <div class="face">
            <div class="circle"></div>
        </div>
    </div>
</div>
<div *ngIf="!isLoading">
    <div class="card" data-aos="fade-down" data-aos-duration="1200" data-aos-once="true" data-aos-delay="0">
        <div class="header">
            <div class="previous-day" (click)="previousMonth()">
                <i style="font-size: 60px;" class="fas fa-chevron-left left ml-3"></i>
            </div>
            <div class="date">
                <div class="date-value">{{'Months.' + monthName | translate}}, {{year}}</div>
            </div>
            <div class="next-day" (click)="next()">
                <i style="font-size: 60px;" class="fas fa-chevron-right right mr-3"></i>
            </div>
        </div>
    </div>
    <div *ngIf="amountOfMoneySpent > 0 && barExpenses != null && !isLoading">
        <div class="row">
            <div class="col-lg-4 col-md-12" data-aos="fade-right" data-aos-duration="1200" data-aos-once="true" data-aos-delay="0">
                <div class="row">
                    <div class="col-12" data-aos="fade-right" data-aos-duration="1200" data-aos-once="true" data-aos-delay="0">
                        <div class="card card-stats">
                            <div class="card-body ">
                                <div class="row">
                                    <div class="col-5 col-md-4">
                                        <div class="icon-big text-center icon-success">
                                            <i class="nc-icon nc-chart-bar-32 text-success"></i>
                                        </div>
                                    </div>
                                    <div class="col-7 col-md-8">
                                        <div class="numbers">
                                            <p class="card-category mb-2">{{'Expenses.MostUsed' | translate}}</p>
                                            <p class="card-title">{{'ExpenseCategory.' +mostUsedCategory | translate}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer ">
                                <hr>
                                <div class="stats">
                                    <i class="fa fa-sort-amount-asc"></i> Number of expenses
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12" data-aos="fade-right" data-aos-duration="1200" data-aos-once="true" data-aos-delay="100">
                        <div class="card card-stats">
                            <div class="card-body ">
                                <div class="row">
                                    <div class="col-5 col-md-4">
                                        <div class="icon-big text-center icon-primary">
                                            <i class="nc-icon nc-chart-bar-32 text-primary"></i>
                                        </div>
                                    </div>
                                    <div class="col-7 col-md-8">
                                        <div class="numbers">
                                            <p class="card-category mb-2">{{'Expenses.MostSpent' | translate}}</p>
                                            <p class="card-title">{{'ExpenseCategory.' +mostSpentCategory | translate}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer ">
                                <hr>
                                <div class="stats">
                                    <i class="fa fa-money"></i> Total sum of expenses
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12" data-aos="fade-right" data-aos-duration="1200" data-aos-once="true" data-aos-delay="200">
                        <div class="card card-stats">
                            <div class="card-body ">
                                <div class="row">
                                    <div class="col-5 col-md-4">
                                        <div class="icon-big text-center icon-primary">
                                            <i class="nc-icon nc-money-coins text-success"></i>
                                        </div>
                                    </div>
                                    <div class="col-7 col-md-8">
                                        <div class="numbers">
                                            <p class="card-category mb-2">{{'Expenses.Largest' | translate}}</p>
                                            <p class="card-title">{{largestExpense}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer ">
                                <hr>
                                <div class="stats">
                                    <i class="fa fa-money"></i> Total sum of expenses
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12" data-aos="fade-right" data-aos-duration="1200" data-aos-once="true" data-aos-delay="300">
                        <div class="card card-stats">
                            <div class="card-body ">
                                <div class="row">
                                    <div class="col-5 col-md-4">
                                        <div class="icon-big text-center icon-primary">
                                            <i class="nc-icon nc-money-coins text-secondary"></i>
                                        </div>
                                    </div>
                                    <div class="col-7 col-md-8">
                                        <div class="numbers">
                                            <p class="card-category mb-2">{{'Expenses.Average' | translate}}</p>
                                            <p class="card-title">{{avgDailyExpenses}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer ">
                                <hr>
                                <div class="stats">
                                    <i class="fa fa-money"></i> Total sum of expenses
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12" data-aos="fade-right" data-aos-duration="1200" data-aos-once="true" data-aos-delay="400">
                        <div class="card card-stats">
                            <div class="card-body ">
                                <div class="row">
                                    <div class="col-5 col-md-4">
                                        <div class="icon-big text-center icon-success">
                                            <i class="fas fa-donate text-warning"></i>
                                        </div>
                                    </div>
                                    <div class="col-7 col-md-8">
                                        <div class="numbers">
                                            <p class="card-category mb-2">{{'Expenses.Total' | translate}}</p>
                                            <p class="card-title">{{amountOfMoneySpent}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer ">
                                <hr>
                                <div class="stats">
                                    <i class="fas fa-hand-holding-usd"></i> Sum
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="lastSixMonths" class="row">
                    <div class="col-12" data-aos="fade-right" data-aos-duration="1200" data-aos-once="true" data-aos-delay="450">
                        <div class="card " style="border-radius: 12px;">
                            <div class="card-header ">
                                <h5 class="card-title">Last 6 Months</h5>
                                <p class="card-category">Line Comparison</p>
                            </div>
                            <div class="card-body ">
                                <div>
                                    <app-line-chart [lastSixMonths]="lastSixMonths"></app-line-chart>
                                </div>
                            </div>
                            <div class="card-footer ">
                                <hr>
                                <div class="stats">
                                    <i class="fa fa-calendar"></i> Add text
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="currentMonthData !== 0 && previousMonthData !== 0" class="row">
                    <div class="col-12" data-aos="fade-right" data-aos-duration="1200" data-aos-once="true" data-aos-delay="500">
                        <div class="card " style="border-radius: 12px;">
                            <div class="card-header ">
                                <h5 class="card-title">Expenses Comparison</h5>
                                <p class="card-category">Last And Current Months</p>
                            </div>
                            <div class="card-body ">
                                <div>
                                    <app-donut-chart [currentMonthbar]="currentMonthData" [lastMonthbar]="previousMonthData" [category]=""></app-donut-chart>
                                </div>
                            </div>
                            <div class="card-footer ">
                                <hr>
                                <div class="stats">
                                    <i class="fa fa-calendar"></i> Add text
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-md-12">
                <div class="card" style="border-radius: 12px;" data-aos="fade-left" data-aos-duration="1200" data-aos-once="true" data-aos-delay="0">
                    <div class="card-header ">
                        <h5 class="card-title">{{'Expenses.ExpenseForCategory' | translate}}</h5>
                        <p class="card-category">{{'Expenses.ExpenseForCatDesc' | translate}}</p>
                    </div>
                    <div *ngIf="barExpenses" class="card-body ">
                        <div *ngIf="barExpenses != null && categories.length > 0">
                            <app-single-bar-chart [categories]="categories" [barExpensesList]="barExpenses">
                            </app-single-bar-chart>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <hr>
                        <div class="stats">
                            <i class="fa fa-calendar"></i> Add text
                        </div>
                    </div>
                </div>
                <div class="card" data-aos="fade-left" data-aos-duration="1200" data-aos-once="true" data-aos-delay="0">
                    <div class="mat-elevation-z8 text-center" style="box-shadow: none;">
                        <table style="width: 100%;" mat-table [dataSource]="expenses">
                            <ng-container matColumnDef="expenseTitle">
                                <th class="text-center table-head title-header" mat-header-cell *matHeaderCellDef> {{'Expenses.Expense' | translate}} </th>
                                <td class="table-text title-cell" mat-cell *matCellDef="let element"> {{element.expenseTitle}} </td>
                            </ng-container>
                            <ng-container matColumnDef="category">
                                <th class="text-center table-head" mat-header-cell *matHeaderCellDef> {{'Expenses.Category' | translate}} </th>
                                <td class="table-text" mat-cell *matCellDef="let element"> {{'ExpenseCategory.' + element.expenseCategory | translate}} </td>
                            </ng-container>
                            <ng-container matColumnDef="moneySpent">
                                <th class="text-center table-head money-header" mat-header-cell *matHeaderCellDef> $ </th>
                                <td class="table-text money-cell" mat-cell *matCellDef="let element"> {{element.moneySpent}} </td>
                            </ng-container>
                            <ng-container matColumnDef="expenseDescription">
                                <th class="text-center table-head d-none d-xl-table-cell" mat-header-cell *matHeaderCellDef> {{'Expenses.Details' | translate}} </th>
                                <td class="table-text" class="d-none d-xl-table-cell" mat-cell *matCellDef="let element"> {{element.expenseDescription}} </td>
                            </ng-container>
                            <ng-container matColumnDef="creationDate">
                                <th class="text-center table-head date-header" mat-header-cell *matHeaderCellDef> {{'Expenses.Date' | translate}} </th>
                                <td class="table-text date-cell" mat-cell *matCellDef="let element"> {{getFormat(element.creationDate)}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="actions">
                                <th class="text-center table-head" mat-header-cell *matHeaderCellDef> {{'Expenses.Actions' | translate}} </th>
                                <td class="table-text" mat-cell *matCellDef="let element; let i = index">
                                    <a *ngIf="isThisUser" (click)="openDialog(element.id, i)" class="btn edit">
                                        <span style="color: green;">
                                                <i class="fa fa-cog"></i>
                                            </span>
                                    </a>
                                    <a *ngIf="isThisUser" (click)="expenseDelete(element.id, i)" class="btn delete">
                                        <span class="mr" style="color: red;">
                                                <i class="fa fa-times"></i>
                                            </span>
                                    </a>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="columnsForExpenses"></tr>
                            <tr mat-row *matRowDef="let row; columns: columnsForExpenses;"></tr>
                        </table>
                        <div class="matpaginator">
                            <mat-paginator #expPaginator [pageSizeOptions]="[10]" [hidePageSize]="true" showFirstLastButtons>
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!isLoading && amountOfMoneySpent === 0">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5 col-md-4">
                                <div class="icon-big text-center icon-warning">
                                    <i class="fa fa-exclamation-triangle text-warning"></i>
                                </div>
                            </div>
                            <div class="col-7 col-md-8">
                                <div *ngIf="monthNumber === 0" class="numbers">
                                    <p class="card-category mb-2">Add Some Expenses!</p>
                                    <p class="card-title">Please!</p>
                                </div>
                                <div *ngIf="monthNumber !== 0" class="numbers">
                                    <p class="card-category mb-2">You did not make any expenses in {{monthName}}!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <hr>
                        <div class="stats">
                            <i *ngIf="monthNumber === 0" class="fa fa-refresh"></i> Please, add expenses to see your statistics
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>