<div *ngIf="isLoading" class="loader-wrapper">
    <div class="loader">
        <div class="face">
            <div class="circle"></div>
        </div>
        <div class="face">
            <div class="circle"></div>
        </div>
    </div>
</div>
<div *ngIf="!isLoading">
    <div class="card" data-aos="fade-down" data-aos-duration="1200" data-aos-once="true" data-aos-delay="0">
        <div class="header">
            <div class="previous-day" (click)="previousMonth()">
                <i style="font-size: 60px;" class="fas fa-chevron-left left ml-3"></i>
            </div>
            <div class="date">
                <div class="date-value text-capitalize">{{monthName}}, {{year}}</div>
            </div>
            <div class="next-day" (click)="next()">
                <i style="font-size: 60px;" class="fas fa-chevron-right right mr-3"></i>
            </div>
        </div>
    </div>
    <div *ngIf="isAmountOfMoneyNotNil && detailedUserStatistics.barExpenses && !isLoading">
        <div class="row">
            <div class="col-lg-4 col-md-12 mob" data-aos="fade-right" data-aos-duration="1200" data-aos-once="true"
                data-aos-delay="0">
                <div class="row">
                    <div class="col-12" data-aos="fade-right" data-aos-duration="1200" data-aos-once="true"
                        data-aos-delay="0">
                        <app-card [classes]="['nc-icon nc-chart-bar-32 icon-color-1', 'fa fa-sort-amount-asc']"
                            [mainText]="'Expenses.MostUsed'" [subText]="'ExpenseCategory.'+detailedUserStatistics.mostUsedCategory"
                            [subTextNone]="'None found'" [hasFooter]="true" [footerText]="'Footer.NumberExp'"
                            [footerTextNone]="'Please, add expenses'">
                        </app-card>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12" data-aos="fade-right" data-aos-duration="1200" data-aos-once="true"
                        data-aos-delay="100">
                        <app-card [classes]="['nc-icon nc-chart-bar-32 icon-color-2', 'fa fa-money']"
                            [mainText]="'Expenses.MostSpent'" [subText]="'ExpenseCategory.'+detailedUserStatistics.mostSpentCategory"
                            [subTextNone]="'None found'" [hasFooter]="true" [footerText]="'Footer.TotalCat'"
                            [footerTextNone]="'Please, add expenses'">
                        </app-card>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12" data-aos="fade-right" data-aos-duration="1200" data-aos-once="true"
                        data-aos-delay="200">
                        <app-card [classes]="['nc-icon nc-money-coins icon-color-3', 'fa fa-money']"
                            [mainText]="'Expenses.Largest'" [subText]="detailedUserStatistics.largestExpense" [subTextNone]="'None found'"
                            [hasFooter]="true" [footerText]="'Footer.Largest'"
                            [footerTextNone]="'Please, add expenses'">
                        </app-card>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12" data-aos="fade-right" data-aos-duration="1200" data-aos-once="true"
                        data-aos-delay="300">
                        <app-card [classes]="['nc-icon nc-money-coins icon-color-4', 'fa fa-money']"
                            [mainText]="'Expenses.Average'" [subText]="detailedUserStatistics.averageDailyExpense" [subTextNone]="'None found'"
                            [hasFooter]="true" [footerText]="'Footer.PerDay'" [footerTextNone]="'Please, add expenses'">
                        </app-card>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12" data-aos="fade-right" data-aos-duration="1200" data-aos-once="true"
                        data-aos-delay="400">
                        <app-card [classes]="['fas fa-donate icon-color-5', 'fas fa-hand-holding-usd']"
                            [mainText]="'Expenses.Total'" [subText]="detailedUserStatistics.amountOfMoneySpent" [subTextNone]="'None found'"
                            [hasFooter]="true" [footerText]="'Footer.TotalSum'"
                            [footerTextNone]="'Please, add expenses'">
                        </app-card>
                    </div>
                </div>
                <div *ngIf="detailedUserStatistics.lastSixMonths" class="row">
                    <div class="col-12" data-aos="fade-right" data-aos-duration="1200" data-aos-once="true"
                        data-aos-delay="450">
                        <div class="card " style="border-radius: 12px;">
                            <div class="card-header ">
                                <h5 class="card-title">{{'Expenses.Last' | translate}}</h5>
                                <p class="card-category">{{'Expenses.LastDesc' | translate}}</p>
                            </div>
                            <div class="card-body ">
                                <div>
                                    <app-line-chart [lastSixMonths]="detailedUserStatistics.lastSixMonths"></app-line-chart>
                                </div>
                            </div>
                            <div class="card-footer ">
                                <hr>
                                <div class="stats">
                                    <i class="fa fa-calendar"></i> {{'Footer.Last6' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="isMonthCompareDataNotNil" class="row">
                    <div class="col-12" data-aos="fade-right" data-aos-duration="1200" data-aos-once="true"
                        data-aos-delay="500">
                        <div class="card " style="border-radius: 12px;">
                            <div class="card-header ">
                                <h5 class="card-title">{{'Expenses.ExpensesCompare' | translate}}</h5>
                                <p class="card-category">{{'Expenses.ExpensesCompareDesc' | translate}}</p>
                            </div>
                            <div class="card-body ">
                                <div>
                                    <app-donut-chart [currentMonthbar]="detailedUserStatistics.monthCompareData.currentMonthData"
                                        [lastMonthbar]="detailedUserStatistics.monthCompareData.lastMonthData" [category]=""></app-donut-chart>
                                </div>
                            </div>
                            <div class="card-footer ">
                                <hr>
                                <div class="stats">
                                    <i class="fa fa-calendar"></i> {{'Footer.ExpComp' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 mob">
                <div class="card" style="border-radius: 12px;" data-aos="fade-left" data-aos-duration="1200"
                    data-aos-once="true" data-aos-delay="0">
                    <div class="card-header ">
                        <h5 class="card-title">{{'Expenses.ExpenseForCategory' | translate}}</h5>
                        <p class="card-category">{{'Expenses.ExpenseForCatDesc' | translate}}</p>
                    </div>
                    <div *ngIf="detailedUserStatistics.barExpenses" class="card-body ">
                        <div *ngIf="isCategoriesLengthNotNil">
                            <app-single-bar-chart [categories]="categories" [barExpensesList]="detailedUserStatistics.barExpenses">
                            </app-single-bar-chart>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <hr>
                        <div class="stats">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>
                <div *ngIf="!isLoading" class="card" data-aos="fade-left" data-aos-duration="1200" data-aos-once="true"
                    data-aos-delay="0">
                    <div class="mat-elevation-z8 text-center" style="box-shadow: none;">
                        <app-table-with-expenses *ngIf="isExpensesLengthNotNil && !isLoading"
                            [tableData]='expensesToSend' [tableHeaders]='columnsForExpenses' [isThisUser]='isThisUser'
                            [walletCurrency]='walletCurrency'></app-table-with-expenses>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!isLoading && !isAmountOfMoneyNotNil">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5 col-md-4">
                                <div class="icon-big text-center icon-warning">
                                    <i class="fa fa-exclamation-triangle text-warning"></i>
                                </div>
                            </div>
                            <div class="col-7 col-md-8">
                                <div *ngIf="isMonthNumberNil" class="numbers">
                                    <p class="card-category mb-2">Add Some Expenses!</p>
                                    <p class="card-title">Please!</p>
                                </div>
                                <div *ngIf="!isMonthNumberNil" class="numbers">
                                    <p class="card-category mb-2">You did not make any expenses in {{monthName}}!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <hr>
                        <div class="stats">
                            <i *ngIf="isMonthNumberNil" class="fa fa-refresh"></i> Please, add expenses to see your
                            statistics
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>