<div class="background">
    <div class="about" data-aos="fade-in" data-aos-duration="1200" data-aos-once="true">
        <img src="assets/images/about/bg_header.jpg" alt="">
        <div class="img-text">{{"Navigation.About" | translate}}</div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-duration="1200" data-aos-once="true">
                <img src="assets/images/about/graphs.png" class="img-fluid">
            </div>
            <div class="col-lg-5 ml-auto">
                <p class="text-black mb-4 title" data-aos="fade-left" data-aos-duration="1200" data-aos-once="true" data-aos-delay="100">{{"About.Text1Title" | translate}}</p>
                <p class="text" data-aos="fade-left" data-aos-duration="1200" data-aos-once="true" data-aos-delay="200">{{"About.Text1Text" | translate}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 ml-auto">
                <p class="text-black mb-4 title" data-aos="fade-left" data-aos-duration="1200" data-aos-once="true" data-aos-delay="300">{{"About.Text2Title" | translate}}</p>
                <p class="text" data-aos="fade-left" data-aos-duration="1200" data-aos-once="true" data-aos-delay="400">{{"About.Text2Text" | translate}} </p>
            </div>
            <div class="col-lg-6 mb-5" data-aos="fade-left" data-aos-duration="1200" data-aos-once="true" data-aos-delay="350">
                <figure class="circle-bg">
                    <img src="assets/images/about/compare.png" alt="Free Website Template by Free-Template.co" class="img-fluid">
                </figure>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-6 mb-5" data-aos="fade-right" data-aos-duration="1200" data-aos-once="true">
                <figure class="circle-bg">
                    <img src="assets\images\about\third.jpg" alt="Free Website Template by Free-Template.co" class="img-fluid">
                </figure>
            </div>
            <div class="col-lg-5 ml-auto">
                <p class="text-black mb-4 title" data-aos="fade-left" data-aos-duration="1200" data-aos-once="true" data-aos-delay="100">{{"About.Text3Title" | translate}}</p>
                <p class="text" data-aos="fade-left" data-aos-duration="1200" data-aos-once="true" data-aos-delay="200">{{"About.Text3Text" | translate}} </p>
            </div>
        </div>
    </div>
</div>