.background {
    background-image: url(src\assets\images\about\bg.jpg);
    background-repeat: no-repeat;
    background-size: auto auto;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

.about {
    margin-top: 100px;
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.img-text {
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #005050;
}

.text {
    font-size: 24px;
    line-height: 1.5;
}