<mat-dialog-content class="mat-typography">
  <div class="container">
    <form [formGroup]="walletForm" (ngSubmit)="createWallet()">
      <div class="form-group">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" [ngClass]="{'bg-danger text-light': walletForm.get('title').errors && walletForm.get('title').touched,
                        'bg-success text-white': !walletForm.get('title').errors}">Wallet Title</span>
          </div>
          <input [ngClass]="{'is-invalid': walletForm.get('title').errors && walletForm.get('title').touched,
                                    'is-valid': !walletForm.get('title').errors}" type="text" formControlName="title"
            class="form-control">

          <div *ngIf="walletForm.get('title').hasError('required') && walletForm.get('title').touched"
            class="invalid-feedback">
            Title is required
          </div>
          <div *ngIf="walletForm.get('title').hasError('minlength') && walletForm.get('title').touched"
            class="invalid-feedback">
            Title should be at least 4 characters required
          </div>
          <div *ngIf="walletForm.get('title').hasError('maxlength') && walletForm.get('title').touched"
            class="invalid-feedback">
            Title should be no longer than 16 characters
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" [ngClass]="{'bg-danger text-light': walletForm.get('limit').errors && walletForm.get('limit').touched,
                        'bg-success text-white': !walletForm.get('limit').errors}">Limit</span>
          </div>
          <input [ngClass]="{'is-invalid': walletForm.get('limit').errors && walletForm.get('limit').touched,
                                    'is-valid': !walletForm.get('limit').errors}" type="number" formControlName="limit"
            class="form-control">
          <div class="input-group-append">
            <span class="input-group-text" [ngClass]="{'bg-danger text-light': walletForm.get('limit').errors,
                        'bg-success text-white': !walletForm.get('limit').errors}">$</span>
          </div>
          <div *ngIf="walletForm.get('limit').hasError('min') && walletForm.get('limit').touched"
            class="invalid-feedback">
            Limit should be 0 or at least $10
          </div>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-outline-secondary btn-block"
          [disabled]="(walletForm.invalid || finalCategories.length < 5)"
          [ngClass]="{'btn-outline-success': walletForm.valid && finalCategories.length >= 5}">Create wallet</button>
      </div>
    </form>
    <div class="form-group">
      <button (click)="back()" class="btn btn-outline-warning">Back</button>
    </div>
  </div>

  <!-- <div class="container">
    <div class="row">
      <button [disabled]="dragHistory.length <= 0" class="btn btn-primary btn-block" (click)="clearCategories()">Clear
        categories</button>
    </div>
  </div> -->

  <!-- <div class="example-container">
    <h2>Advisable</h2>
    <div cdkDropList id="advisable" #advisableList="cdkDropList" [cdkDropListData]="advisable"
      [cdkDropListConnectedTo]="[finalCategoriesList]" class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of advisable" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2>Food</h2>

    <div cdkDropList id="food" #foodList="cdkDropList" [cdkDropListData]="food"
      [cdkDropListConnectedTo]="[finalCategoriesList]" class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of food" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2>Clothes</h2>
    <div cdkDropList id="clothes" #clothesList="cdkDropList" [cdkDropListData]="clothes"
      [cdkDropListConnectedTo]="[finalCategoriesList]" class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of clothes" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2>Entertainment</h2>
    <div cdkDropList id="ent" #entList="cdkDropList" [cdkDropListData]="entertainment"
      [cdkDropListConnectedTo]="[finalCategoriesList]" class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of entertainment" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2>Done</h2>
    <div cdkDropList #finalCategoriesList="cdkDropList" [cdkDropListData]="finalCategories" class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of finalCategories" cdkDrag>{{item}}</div>
    </div>
  </div> -->

  <div class="row mt-3">

    <div class="category-group col-lg-3 col-md-4 col-sm-6 mb-3 text-center">
      Food
      <div (click)="toggleCategory(1)" [ngClass]="isActive[0].status ? 'alert alert-success' : ''"
        class="category-item p-3 border">Food</div>
      <div (click)="toggleCategory(2)" [ngClass]="isActive[1].status ? 'alert alert-success' : ''"
        class="category-item p-3 border">Vegetables</div>
      <div (click)="toggleCategory(3)" [ngClass]="isActive[2].status ? 'alert alert-success' : ''"
        class="category-item p-3 border">Meat</div>
      <div (click)="toggleCategory(4)" [ngClass]="isActive[3].status ? 'alert alert-success' : ''"
        class="category-item p-3 border">Alcohol</div>
      <div (click)="toggleCategory(5)" [ngClass]="isActive[4].status ? 'alert alert-success' : ''"
        class="category-item p-3 border">Sweets</div>
      <div (click)="toggleCategory(6)" [ngClass]="isActive[5].status ? 'alert alert-success' : ''"
        class="category-item p-3 border">Fast-Food</div>
      <div (click)="toggleCategory(7)" [ngClass]="isActive[6].status ? 'alert alert-success' : ''"
        class="category-item p-3 border">Fruits</div>
    </div>

    <div class="category-group col-lg-3 col-md-4 col-sm-6 mb-3 text-center">
      Housekeeping
      <div (click)="toggleCategory(8)" [ngClass]="isActive[7].status ? 'alert alert-success' : ''"
        class="category-item p-3 border">Housekeeping</div>
      <div (click)="toggleCategory(9)" [ngClass]="isActive[8].status ? 'alert alert-success' : ''"
        class="category-item p-3 border">Electricity</div>
      <div (click)="toggleCategory(10)" [ngClass]="isActive[9].status ? 'alert alert-success' : ''"
        class="category-item p-3 border">Gas</div>
      <div (click)="toggleCategory(11)" [ngClass]="isActive[10].status ? 'alert alert-success' : ''"
        class="category-item p-3 border">Water</div>
    </div>
    <div class="category-group col-lg-3 col-md-4 col-sm-6 mb-3 text-center">
      Entertainment
      <div (click)="toggleCategory(12)" [ngClass]="isActive[11].status ? 'alert alert-success' : ''"
        class="category-item p-3 border">Entertainment</div>
      <div (click)="toggleCategory(13)" [ngClass]="isActive[12].status ? 'alert alert-success' : ''"
        class="category-item p-3 border">Internet Shopping</div>
      <div (click)="toggleCategory(14)" [ngClass]="isActive[13].status ? 'alert alert-success' : ''"
        class="category-item p-3 border">Restaurants & Cafes</div>
      <div (click)="toggleCategory(15)" [ngClass]="isActive[14].status ? 'alert alert-success' : ''"
        class="category-item p-3 border">Cinema</div>
      <div (click)="toggleCategory(16)" [ngClass]="isActive[15].status ? 'alert alert-success' : ''"
        class="category-item p-3 border">Theatre</div>
      <div (click)="toggleCategory(17)" [ngClass]="isActive[16].status ? 'alert alert-success' : ''"
        class="category-item p-3 border">Smoking</div>
    </div>
    <div class="category-group col-lg-3 col-md-4 col-sm-6 mb-3 text-center">
      Medicine
      <div (click)="toggleCategory(18)" [ngClass]="isActive[17].status ? 'alert alert-success' : ''"
        class="category-item p-3 border">Medicine</div>
      <div (click)="toggleCategory(19)" [ngClass]="isActive[18].status ? 'alert alert-success' : ''"
        class="category-item p-3 border">Medicaments</div>
      <div (click)="toggleCategory(20)" [ngClass]="isActive[19].status ? 'alert alert-success' : ''"
        class="category-item p-3 border">Treatment</div>
    </div>
    <div class="category-group col-lg-3 col-md-4 col-sm-6 mb-3 text-center">
      Beauty
      <div (click)="toggleCategory(21)" [ngClass]="isActive[20].status ? 'alert alert-success' : ''"
        class="category-item p-3 border">Beauty</div>
      <div (click)="toggleCategory(22)" [ngClass]="isActive[21].status ? 'alert alert-success' : ''"
        class="category-item p-3 border">Beauty Accessories</div>
      <div (click)="toggleCategory(23)" [ngClass]="isActive[22].status ? 'alert alert-success' : ''"
        class="category-item p-3 border">Beauty Products</div>
      <div (click)="toggleCategory(24)" [ngClass]="isActive[23].status ? 'alert alert-success' : ''"
        class="category-item p-3 border">Beauty Procedures</div>

    </div>
    <div class="category-group col-lg-3 col-md-4 col-sm-6 mb-3 text-center">
      Sport
      <div (click)="toggleCategory(25)" [ngClass]="isActive[24].status ? 'alert alert-success' : ''"
        class="category-item p-3 border">Sport</div>
      <div (click)="toggleCategory(26)" [ngClass]="isActive[25].status ? 'alert alert-success' : ''"
        class="category-item p-3 border">Sport Events</div>
      <div (click)="toggleCategory(27)" [ngClass]="isActive[26].status ? 'alert alert-success' : ''"
        class="category-item p-3 border">Sport Gambling</div>
      <div (click)="toggleCategory(28)" [ngClass]="isActive[27].status ? 'alert alert-success' : ''"
        class="category-item p-3 border">Sport Inventory</div>
      <div (click)="toggleCategory(29)" [ngClass]="isActive[28].status ? 'alert alert-success' : ''"
        class="category-item p-3 border">Sport Activities</div>
    </div>
    <div class="category-group col-lg-3 col-md-4 col-sm-6 mb-3 text-center">
      Transportation
      <div (click)="toggleCategory(30)" [ngClass]="isActive[29].status ? 'alert alert-success' : ''"
        class="category-item p-3 border">Transportation</div>
      <div (click)="toggleCategory(31)" [ngClass]="isActive[30].status ? 'alert alert-success' : ''"
        class="category-item p-3 border">Air Transportation</div>
      <div (click)="toggleCategory(32)" [ngClass]="isActive[31].status ? 'alert alert-success' : ''"
        class="category-item p-3 border">Land Transportation</div>
    </div>
    <div class="category-group col-lg-3 col-md-4 col-sm-6 mb-3 text-center">
      Other
      <div (click)="toggleCategory(33)" [ngClass]="isActive[32].status ? 'alert alert-success' : ''"
        class="category-item p-3 border">Other</div>
    </div>
  </div>


</mat-dialog-content>