.category-title {
    font-size: 18px;
    font-weight: bold;
}


/* .outer,
.mat-typography {
    background-color: white !important;
} */

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
    border: 2px solid #00ff37;
    border-top-color: #00a738;
    animation: spinner .8s linear infinite;
}

.btn-loading {
    background-color: #0a30136e;
}

.button-text {
    opacity: .3;
}

.select-currency {
    appearance: none;
    width: 100%;
}

.currency-label {
    width: 12% !important;
}

.currency-data {
    width: 88% !important;
}

@media(max-width: 1000px) {
    .currency-label {
        width: 20% !important;
    }
    .currency-data {
        width: 80% !important;
    }
}

@media(max-width: 650px) {
    .currency-label {
        width: 30% !important;
    }
    .currency-data {
        width: 70% !important;
    }
}

@media(max-width: 500px) {
    .currency-label {
        width: 35% !important;
    }
    .currency-data {
        width: 65% !important;
    }
}

@media(max-width: 450px) {
    .currency-label {
        width: 50% !important;
    }
    .currency-data {
        width: 50% !important;
    }
}