.table-responsive {
    max-height: 270px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--card-background);
}

.previous-day,
.next-day {
    width: 20%;
    height: 80px;
    border-radius: 8px;
}

.previous-day .left,
.next-day .right {
    color: var(--sidebar-item-selected);
}

.next-day {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.previous-day {
    display: flex;
    align-items: center;
}

.previous-day:hover {
    background: linear-gradient(to right, var(--sidebar-item-selected) 25%, var(--card-background) 100%);
}

.previous-day:hover .left,
.next-day:hover .right {
    color: var(--card-background);
}

.next-day:hover {
    background: linear-gradient(to left, var(--sidebar-item-selected), var(--card-background));
    color: var(--card-background);
}

.date {
    display: flex;
    align-items: center;
}

.date-value {
    font-size: 25px;
    color: var(--sidebar-item-selected) !important;
    font-weight: bold;
}

.date-picker {
    visibility: hidden;
    width: 0px;
}

.dp {
    padding: 0;
    margin: 0;
    font-size: 30px;
    height: 30px;
    width: 30x;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
    visibility: hidden;
}

.header i {
    font-size: 30px;
}

.image div {
    opacity: var(--table-expense-header);
}

.add-expense-button {
    height: 80%;
    border-color: var(--navbar-icons);
    background-color: transparent;
    color: var(--button-text);
    box-shadow: 0px 0px 20px -4px var(--navbar-icons);
}

.add-expense-button:hover {
    color: var(--button-text-hover);
    background-color: var(--navbar-icons);
}

@media (min-width: 992px) {
    .add-expense {
        font-size: .9rem;
    }
}

@media (max-width: 570px) {
    .date-value {
        font-size: 20px;
    }
}