@import url("../../css/modals.css");
.btn-loading {
    background-color: #0a30136e;
}

.button-text {
    opacity: .3;
}

select {
    -o-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}