<div *ngIf="isLoading" class="loader-wrapper">
    <div class="loader">
        <div class="face">
            <div class="circle"></div>
        </div>
        <div class="face">
            <div class="circle"></div>
        </div>
    </div>
</div>
<div *ngIf="!isLoading">
    <div class="container-fluid mr-5">
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-7 col-md-7">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5 col-md-4">
                                <div class="icon-big text-center icon-warning">
                                    <i class="fas fa-plus text-success"></i>
                                </div>
                            </div>
                            <div class="col-7 col-md-8">
                                <div class="numbers">
                                    <p class="card-category add-expense"> <button (click)="previousMonth()" class="btn btn-outline-success btn-block">Previous</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <hr>
                        <div class="stats">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-7 col-md-7">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5 col-md-4">
                                <div class="icon-big text-center icon-warning">
                                    <i class="fas fa-plus text-success"></i>
                                </div>
                            </div>
                            <div class="col-7 col-md-8">
                                <div class="numbers">
                                    <p class="card-category add-expense"> <button (click)="next()" class="btn btn-outline-success btn-block">Next</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <hr>
                        <div class="stats">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="content">
                    <div *ngIf="first.categoryId != 0" class="row">
                        <div class="col-md-12">
                            <div class="card card-img">
                                <div class="image">
                                    <div style="width: 100%; height: 100%; background-color: #cafcfa;"></div>
                                </div>
                                <div class="card-header">
                                    <h4 class="card-title text-center">{{first.categoryName}} expenses</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive ">
                                        <table class="table">
                                            <thead class="text-primary text-center">
                                                <tr class="d-flex text-center">
                                                    <th class="col-lg-2 col-lg-2 col-md-3">User</th>
                                                    <th class="col-lg-2 col-md-3">Title</th>
                                                    <th class="col-lg-3 d-none d-lg-table-cell">Details</th>
                                                    <th class="col-lg-3 col-md-3">Date</th>
                                                    <th class="col-lg-2 col-md-3">$</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="d-flex text-center" *ngFor="let expense of first.expenses">
                                                    <td class="col-lg-2 col-md-3">{{expense.userName}}</td>
                                                    <td class="col-lg-2 col-md-3">{{expense.expenseTitle}}</td>
                                                    <td class="col-lg-3 d-none d-lg-table-cell">{{expense.expenseDescription}}</td>
                                                    <td class="col-lg-3">{{expense.creationDate | date :"medium"}}</td>
                                                    <td class="col-lg-2 col-md-3">{{expense.moneySpent}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="second.categoryId != 0" class="row">
                        <div class="col-md-12">
                            <div class="card card-img">
                                <div class="image">
                                    <div style="width: 100%; height: 100%; background-color: #cafcdf;"></div>
                                </div>
                                <div class="card-header">
                                    <h4 class="card-title text-center">{{second.categoryName}} expenses</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="text-primary text-center">
                                                <tr class="d-flex text-center">
                                                    <th class="col-lg-2 col-lg-2 col-md-3">User</th>
                                                    <th class="col-lg-2 col-md-3">Title</th>
                                                    <th class="col-lg-3 d-none d-lg-table-cell">Details</th>
                                                    <th class="col-lg-3 col-md-3">Date</th>
                                                    <th class="col-lg-2 col-md-3">$</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="d-flex text-center" *ngFor="let expense of second.expenses">
                                                    <td class="col-lg-2 col-md-3">{{expense.userName}}</td>
                                                    <td class="col-lg-2 col-md-3">{{expense.expenseTitle}}</td>
                                                    <td class="col-lg-3 d-none d-lg-table-cell">{{expense.expenseDescription}}</td>
                                                    <td class="col-lg-3">{{expense.creationDate | date :"medium"}}</td>
                                                    <td class="col-lg-2 col-md-3">{{expense.moneySpent}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="third.categoryId != 0" class="row">
                        <div class="col-md-12">
                            <div class="card card-img">
                                <div class="image">
                                    <div style="width: 100%; height: 100%; background-color: #dafcca;"></div>
                                </div>
                                <div class="card-header">
                                    <h4 class="card-title text-center">{{third.categoryName}} expenses</h4>
                                </div>

                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="text-primary text-center">
                                                <tr class="d-flex text-center">
                                                    <th class="col-lg-2 col-lg-2 col-md-3">User</th>
                                                    <th class="col-lg-2 col-md-3">Title</th>
                                                    <th class="col-lg-3 d-none d-lg-table-cell">Details</th>
                                                    <th class="col-lg-3 col-md-3">Date</th>
                                                    <th class="col-lg-2 col-md-3">$</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="d-flex text-center" *ngFor="let expense of third.expenses">
                                                    <td class="col-lg-2 col-md-3">{{expense.userName}}</td>
                                                    <td class="col-lg-2 col-md-3">{{expense.expenseTitle}}</td>
                                                    <td class="col-lg-3 d-none d-lg-table-cell">{{expense.expenseDescription}}</td>
                                                    <td class="col-lg-3">{{expense.creationDate | date :"medium"}}</td>
                                                    <td class="col-lg-2 col-md-3">{{expense.moneySpent}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="fourth.categoryId != 0" class="row">
                        <div class="col-md-12">
                            <div class="card card-img">
                                <div class="image">
                                    <div style="width: 100%; height: 100%; background-color: #fcf0ca;"></div>
                                </div>
                                <div class="card-header">
                                    <h4 class="card-title text-center">{{fourth.categoryName}} expenses</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="text-primary text-center">
                                                <tr class="d-flex text-center">
                                                    <th class="col-lg-2 col-lg-2 col-md-3">User</th>
                                                    <th class="col-lg-2 col-md-3">Title</th>
                                                    <th class="col-lg-3 d-none d-lg-table-cell">Details</th>
                                                    <th class="col-lg-3 col-md-3">Date</th>
                                                    <th class="col-lg-2 col-md-3">$</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="d-flex text-center" *ngFor="let expense of fourth.expenses">
                                                    <td class="col-lg-2 col-md-3">{{expense.userName}}</td>
                                                    <td class="col-lg-2 col-md-3">{{expense.expenseTitle}}</td>
                                                    <td class="col-lg-3 d-none d-lg-table-cell">{{expense.expenseDescription}}</td>
                                                    <td class="col-lg-3">{{expense.creationDate | date :"medium"}}</td>
                                                    <td class="col-lg-2 col-md-3">{{expense.moneySpent}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="fifth.categoryId != 0" class="row">
                        <div class="col-md-12">
                            <div class="card card-img">
                                <div class="image">
                                    <div style="width: 100%; height: 100%; background-color: #fcd9ca;"></div>
                                </div>
                                <div class="card-header">
                                    <h4 class="card-title text-center">{{fifth.categoryName}} expenses</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="text-primary text-center">
                                                <tr class="d-flex text-center">
                                                    <th class="col-lg-2 col-lg-2 col-md-3">User</th>
                                                    <th class="col-lg-2 col-md-3">Title</th>
                                                    <th class="col-lg-3 d-none d-lg-table-cell">Details</th>
                                                    <th class="col-lg-3 col-md-3">Date</th>
                                                    <th class="col-lg-2 col-md-3">$</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="d-flex text-center" *ngFor="let expense of fifth.expenses">
                                                    <td class="col-lg-2 col-md-3">{{expense.userName}}</td>
                                                    <td class="col-lg-2 col-md-3">{{expense.expenseTitle}}</td>
                                                    <td class="col-lg-3 d-none d-lg-table-cell">{{expense.expenseDescription}}</td>
                                                    <td class="col-lg-3">{{expense.creationDate | date :"medium"}}</td>
                                                    <td class="col-lg-2 col-md-3">{{expense.moneySpent}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="sixth.categoryId != 0" class="row">
                        <div class="col-md-12">
                            <div class="card card-img">
                                <div class="image">
                                    <div style="width: 100%; height: 100%; background-color: #fccaca;"></div>
                                </div>
                                <div class="card-header">
                                    <h4 class="card-title text-center">{{sixth.categoryName}} expenses</h4>
                                    <p class="card-category">Check out how much you have spent this month at {{sixth.categoryName}}!
                                    </p>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="text-primary text-center">
                                                <tr class="d-flex text-center">
                                                    <th class="col-lg-2 col-lg-2 col-md-3">User</th>
                                                    <th class="col-lg-2 col-md-3">Title</th>
                                                    <th class="col-lg-3 d-none d-lg-table-cell">Details</th>
                                                    <th class="col-lg-3 col-md-3">Date</th>
                                                    <th class="col-lg-2 col-md-3">$</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="d-flex text-center" *ngFor="let expense of sixth.expenses">
                                                    <td class="col-lg-2 col-md-3">{{expense.userName}}</td>
                                                    <td class="col-lg-2 col-md-3">{{expense.expenseTitle}}</td>
                                                    <td class="col-lg-3 d-none d-lg-table-cell">{{expense.expenseDescription}}</td>
                                                    <td class="col-lg-3">{{expense.creationDate | date :"medium"}}</td>
                                                    <td class="col-lg-2 col-md-3">{{expense.moneySpent}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="seventh.categoryId != 0" class="row">
                        <div class="col-md-12">
                            <div class="card card-img">
                                <div class="image">
                                    <div style="width: 100%; height: 100%; background-color: #fccaea;"></div>
                                </div>
                                <div class="card-header">
                                    <h4 class="card-title text-center">{{seventh.categoryName}} expenses</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="text-primary text-center">
                                                <tr class="d-flex text-center">
                                                    <th class="col-lg-2 col-lg-2 col-md-3">User</th>
                                                    <th class="col-lg-2 col-md-3">Title</th>
                                                    <th class="col-lg-3 d-none d-lg-table-cell">Details</th>
                                                    <th class="col-lg-3 col-md-3">Date</th>
                                                    <th class="col-lg-2 col-md-3">$</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="d-flex text-center" *ngFor="let expense of seventh.expenses">
                                                    <td class="col-lg-2 col-md-3">{{expense.userName}}</td>
                                                    <td class="col-lg-2 col-md-3">{{expense.expenseTitle}}</td>
                                                    <td class="col-lg-3 d-none d-lg-table-cell">{{expense.expenseDescription}}</td>
                                                    <td class="col-lg-3">{{expense.creationDate | date :"medium"}}</td>
                                                    <td class="col-lg-2 col-md-3">{{expense.moneySpent}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="eigth.categoryId != 0" class="row">
                        <div class="col-md-12">
                            <div class="card card-img">
                                <div class="image">
                                    <div style="width: 100%; height: 100%; background-color: #eccafc;"></div>
                                </div>
                                <div class="card-header">
                                    <h4 class="card-title text-center">{{eigth.categoryName}} expenses</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="text-primary text-center">
                                                <tr class="d-flex text-center">
                                                    <th class="col-lg-2 col-lg-2 col-md-3">User</th>
                                                    <th class="col-lg-2 col-md-3">Title</th>
                                                    <th class="col-lg-3 d-none d-lg-table-cell">Details</th>
                                                    <th class="col-lg-3 col-md-3">Date</th>
                                                    <th class="col-lg-2 col-md-3">$</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="d-flex text-center" *ngFor="let expense of eigth.expenses">
                                                    <td class="col-lg-2 col-md-3">{{expense.userName}}</td>
                                                    <td class="col-lg-2 col-md-3">{{expense.expenseTitle}}</td>
                                                    <td class="col-lg-3 d-none d-lg-table-cell">{{expense.expenseDescription}}</td>
                                                    <td class="col-lg-3">{{expense.creationDate | date :"medium"}}</td>
                                                    <td class="col-lg-2 col-md-3">{{expense.moneySpent}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="nineth.categoryId != 0" class="row">
                        <div class="col-md-12">
                            <div class="card card-img">
                                <div class="image">
                                    <div style="width: 100%; height: 100%; background-color: #d1cafc;"></div>
                                </div>
                                <div class="card-header">
                                    <h4 class="card-title text-center">{{nineth.categoryName}} expenses</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="text-primary text-center">
                                                <tr class="d-flex text-center">
                                                    <th class="col-lg-2 col-lg-2 col-md-3">User</th>
                                                    <th class="col-lg-2 col-md-3">Title</th>
                                                    <th class="col-lg-3 d-none d-lg-table-cell">Details</th>
                                                    <th class="col-lg-3 col-md-3">Date</th>
                                                    <th class="col-lg-2 col-md-3">$</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="d-flex text-center" *ngFor="let expense of nineth.expenses">
                                                    <td class="col-lg-2 col-md-3">{{expense.userName}}</td>
                                                    <td class="col-lg-2 col-md-3">{{expense.expenseTitle}}</td>
                                                    <td class="col-lg-3 d-none d-lg-table-cell">{{expense.expenseDescription}}</td>
                                                    <td class="col-lg-3">{{expense.creationDate | date :"medium"}}</td>
                                                    <td class="col-lg-2 col-md-3">{{expense.moneySpent}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="tenth.categoryId != 0" class="row">
                        <div class="col-md-12">
                            <div class="card card-img">
                                <div class="image">
                                    <div style="width: 100%; height: 100%; background-color: #cad8fc;"></div>
                                </div>
                                <div class="card-header">
                                    <h4 class="card-title text-center">{{tenth.categoryName}} expenses</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="text-primary text-center">
                                                <tr class="d-flex text-center">
                                                    <th class="col-lg-2 col-lg-2 col-md-3">User</th>
                                                    <th class="col-lg-2 col-md-3">Title</th>
                                                    <th class="col-lg-3 d-none d-lg-table-cell">Details</th>
                                                    <th class="col-lg-3 col-md-3">Date</th>
                                                    <th class="col-lg-2 col-md-3">$</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="d-flex text-center" *ngFor="let expense of tenth.expenses">
                                                    <td class="col-lg-2 col-md-3">{{expense.userName}}</td>
                                                    <td class="col-lg-2 col-md-3">{{expense.expenseTitle}}</td>
                                                    <td class="col-lg-3 d-none d-lg-table-cell">{{expense.expenseDescription}}</td>
                                                    <td class="col-lg-3">{{expense.creationDate | date :"medium"}}</td>
                                                    <td class="col-lg-2 col-md-3">{{expense.moneySpent}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="border-radius: 12px;">
                    <div class="card-header">
                        <h5 class="card-title">Top 5 users</h5>
                        <p class="card-category">In {{monthName}}</p>
                    </div>
                    <div class="card-body ">
                        <div *ngIf="topFiveUsers != null">
                            <app-pie-graph [topFiveUsers]="topFiveUsers"></app-pie-graph>
                        </div>
                        <p *ngIf="topFiveUsers == null" class="text-uppercase">No one was spending in {{monthName}}
                        </p>
                    </div>
                    <div class="card-footer">
                        <hr>
                        <div class="stats">
                            <i class="fa fa-money"></i> Number expenses made
                        </div>
                    </div>
                </div>
                <div class="card" style="border-radius: 12px;">
                    <div class="card-header">
                        <h5 class="card-title">Category comparison</h5>
                        <p class="card-category">In {{monthName}}</p>
                    </div>
                    <div class="card-body ">
                        <div *ngIf="barExpenses != null && categories.length > 0">
                            <app-donut-chart-categories [categories]="categories" [barExpensesList]="barExpenses"></app-donut-chart-categories>
                        </div>
                        <p *ngIf="topFiveUsers == null" class="text-uppercase">No one was spending in {{monthName}}
                        </p>
                    </div>
                    <div class="card-footer">
                        <hr>
                        <div class="stats">
                            <i class="fa fa-money"></i> Number expenses made
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>