<div *ngIf="isLoading" class="loader-wrapper">
    <div class="loader">
        <div class="face">
            <div class="circle"></div>
        </div>
        <div class="face">
            <div class="circle"></div>
        </div>
    </div>
</div>
<div *ngIf="!isLoading">
    <div class="container-fluid mr-5">
        <div class="card" data-aos="fade-down" data-aos-duration="1200" data-aos-once="true" data-aos-delay="0">
            <div class="header">
                <div class="previous-day" (click)="previousMonth()">
                    <i style="font-size: 60px;" class="fas fa-chevron-left left ml-3"></i>
                </div>
                <div class="date">
                    <div class="date-value">{{'Months.' + monthName | translate}}, {{year}}</div>
                </div>
                <div class="next-day" (click)="next()">
                    <i style="font-size: 60px;" class="fas fa-chevron-right right mr-3"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div *ngIf="topFiveUsers.length > 0" class="col-xl-8 col-md-12 no-pad">
                <div class="content">
                    <div *ngIf="first.categoryId != 0" class="row" data-aos="fade-left" data-aos-duration="1200" data-aos-once="true" data-aos-delay="100">
                        <div class="col-md-12 no-pad">
                            <div class="card card-img">
                                <div class="image">
                                    <div style="width: 100%; height: 100%; background-color: #cafcfa;"></div>
                                </div>
                                <div class="card-header">
                                    <h4 class="card-title text-center font-weight-bold">{{'ExpenseCategory.' +first.categoryName | translate}} </h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive ">
                                        <table class="table">
                                            <thead class="text-primary text-center table-head">
                                                <tr class="d-flex text-center">
                                                    <th class="user-header">{{'Expenses.User' | translate}}</th>
                                                    <th class="title-header">{{'Expenses.Title' | translate}}</th>
                                                    <th class="details-header">{{'Expenses.Details' | translate}}</th>
                                                    <th class="date-header">{{'Expenses.Date' | translate}}</th>
                                                    <th class="money-header">$</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="d-flex text-center table-text" *ngFor="let expense of first.expenses">
                                                    <td class="user-cell">{{expense.userName}}</td>
                                                    <td class="title-cell">{{expense.expenseTitle}}</td>
                                                    <td class="details-cell">{{expense.expenseDescription}}</td>
                                                    <td class="date-cell">{{getFormat(expense.creationDate)}}</td>
                                                    <td class="money-cell">{{expense.moneySpent}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="second.categoryId != 0" class="row" data-aos="fade-right" data-aos-duration="1200" data-aos-once="true" data-aos-delay="200">
                        <div class="col-md-12 no-pad">
                            <div class="card card-img">
                                <div class="image">
                                    <div style="width: 100%; height: 100%; background-color: #cafcdf;"></div>
                                </div>
                                <div class="card-header">
                                    <h4 class="card-title text-center font-weight-bold">{{'ExpenseCategory.' +second.categoryName | translate}} </h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="text-primary text-center table-head">
                                                <tr class="d-flex text-center">
                                                    <th class="user-header">{{'Expenses.User' | translate}}</th>
                                                    <th class="title-header">{{'Expenses.Title' | translate}}</th>
                                                    <th class="details-header">{{'Expenses.Details' | translate}}</th>
                                                    <th class="date-header">{{'Expenses.Date' | translate}}</th>
                                                    <th class="money-header">$</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="d-flex text-center table-text" *ngFor="let expense of second.expenses">
                                                    <td class="user-cell">{{expense.userName}}</td>
                                                    <td class="title-cell">{{expense.expenseTitle}}</td>
                                                    <td class="details-cell">{{expense.expenseDescription}}</td>
                                                    <td class="date-cell">{{getFormat(expense.creationDate)}}</td>
                                                    <td class="money-cell">{{expense.moneySpent}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="third.categoryId != 0" class="row" data-aos="fade-left" data-aos-duration="1200" data-aos-once="true" data-aos-delay="100">
                        <div class="col-md-12 no-pad">
                            <div class="card card-img">
                                <div class="image">
                                    <div style="width: 100%; height: 100%; background-color: #dafcca;"></div>
                                </div>
                                <div class="card-header">
                                    <h4 class="card-title text-center font-weight-bold">{{'ExpenseCategory.' +third.categoryName | translate}} </h4>
                                </div>

                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="text-primary text-center table-head">
                                                <tr class="d-flex text-center">
                                                    <th class="user-header">{{'Expenses.User' | translate}}</th>
                                                    <th class="title-header">{{'Expenses.Title' | translate}}</th>
                                                    <th class="details-header">{{'Expenses.Details' | translate}}</th>
                                                    <th class="date-header">{{'Expenses.Date' | translate}}</th>
                                                    <th class="money-header">$</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="d-flex text-center table-text" *ngFor="let expense of third.expenses">
                                                    <td class="user-cell">{{expense.userName}}</td>
                                                    <td class="title-cell">{{expense.expenseTitle}}</td>
                                                    <td class="details-cell">{{expense.expenseDescription}}</td>
                                                    <td class="date-cell">{{getFormat(expense.creationDate)}}</td>
                                                    <td class="money-cell">{{expense.moneySpent}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="fourth.categoryId != 0" class="row" data-aos="fade-right" data-aos-duration="1200" data-aos-once="true" data-aos-delay="200">
                        <div class="col-md-12 no-pad">
                            <div class="card card-img">
                                <div class="image">
                                    <div style="width: 100%; height: 100%; background-color: #fcf0ca;"></div>
                                </div>
                                <div class="card-header">
                                    <h4 class="card-title text-center font-weight-bold">{{'ExpenseCategory.' +fourth.categoryName | translate}} </h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="text-primary text-center table-head">
                                                <tr class="d-flex text-center">
                                                    <th class="user-header">{{'Expenses.User' | translate}}</th>
                                                    <th class="title-header">{{'Expenses.Title' | translate}}</th>
                                                    <th class="details-header">{{'Expenses.Details' | translate}}</th>
                                                    <th class="date-header">{{'Expenses.Date' | translate}}</th>
                                                    <th class="money-header">$</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="d-flex text-center table-text" *ngFor="let expense of fourth.expenses">
                                                    <td class="user-cell">{{expense.userName}}</td>
                                                    <td class="title-cell">{{expense.expenseTitle}}</td>
                                                    <td class="details-cell">{{expense.expenseDescription}}</td>
                                                    <td class="date-cell">{{getFormat(expense.creationDate)}}</td>
                                                    <td class="money-cell">{{expense.moneySpent}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="fifth.categoryId != 0" class="row" data-aos="fade-left" data-aos-duration="1200" data-aos-once="true" data-aos-delay="100">
                        <div class="col-md-12 no-pad">
                            <div class="card card-img">
                                <div class="image">
                                    <div style="width: 100%; height: 100%; background-color: #fcd9ca;"></div>
                                </div>
                                <div class="card-header">
                                    <h4 class="card-title text-center font-weight-bold">{{'ExpenseCategory.' +fifth.categoryName | translate}} </h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="text-primary text-center table-head">
                                                <tr class="d-flex text-center">
                                                    <th class="user-header">{{'Expenses.User' | translate}}</th>
                                                    <th class="title-header">{{'Expenses.Title' | translate}}</th>
                                                    <th class="details-header">{{'Expenses.Details' | translate}}</th>
                                                    <th class="date-header">{{'Expenses.Date' | translate}}</th>
                                                    <th class="money-header">$</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="d-flex text-center table-text" *ngFor="let expense of fifth.expenses">
                                                    <td class="user-cell">{{expense.userName}}</td>
                                                    <td class="title-cell">{{expense.expenseTitle}}</td>
                                                    <td class="details-cell">{{expense.expenseDescription}}</td>
                                                    <td class="date-cell">{{getFormat(expense.creationDate)}}</td>
                                                    <td class="money-cell">{{expense.moneySpent}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="sixth.categoryId != 0" class="row" data-aos="fade-right" data-aos-duration="1200" data-aos-once="true" data-aos-delay="200">
                        <div class="col-md-12 no-pad">
                            <div class="card card-img">
                                <div class="image">
                                    <div style="width: 100%; height: 100%; background-color: #fccaca;"></div>
                                </div>
                                <div class="card-header">
                                    <h4 class="card-title text-center font-weight-bold">{{'ExpenseCategory.' +sixth.categoryName | translate}} </h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="text-primary text-center table-head">
                                                <tr class="d-flex text-center">
                                                    <th class="user-header">{{'Expenses.User' | translate}}</th>
                                                    <th class="title-header">{{'Expenses.Title' | translate}}</th>
                                                    <th class="details-header">{{'Expenses.Details' | translate}}</th>
                                                    <th class="date-header">{{'Expenses.Date' | translate}}</th>
                                                    <th class="money-header">$</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="d-flex text-center table-text" *ngFor="let expense of sixth.expenses">
                                                    <td class="user-cell">{{expense.userName}}</td>
                                                    <td class="title-cell">{{expense.expenseTitle}}</td>
                                                    <td class="details-cell">{{expense.expenseDescription}}</td>
                                                    <td class="date-cell">{{getFormat(expense.creationDate)}}</td>
                                                    <td class="money-cell">{{expense.moneySpent}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="seventh.categoryId != 0" class="row" data-aos="fade-left" data-aos-duration="1200" data-aos-once="true" data-aos-delay="100">
                        <div class="col-md-12 no-pad">
                            <div class="card card-img">
                                <div class="image">
                                    <div style="width: 100%; height: 100%; background-color: #fccaea;"></div>
                                </div>
                                <div class="card-header">
                                    <h4 class="card-title text-center font-weight-bold">{{'ExpenseCategory.' +seventh.categoryName | translate}} </h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="text-primary text-center table-head">
                                                <tr class="d-flex text-center">
                                                    <th class="user-header">{{'Expenses.User' | translate}}</th>
                                                    <th class="title-header">{{'Expenses.Title' | translate}}</th>
                                                    <th class="details-header">{{'Expenses.Details' | translate}}</th>
                                                    <th class="date-header">{{'Expenses.Date' | translate}}</th>
                                                    <th class="money-header">$</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="d-flex text-center table-text" *ngFor="let expense of seventh.expenses">
                                                    <td class="user-cell">{{expense.userName}}</td>
                                                    <td class="title-cell">{{expense.expenseTitle}}</td>
                                                    <td class="details-cell">{{expense.expenseDescription}}</td>
                                                    <td class="date-cell">{{getFormat(expense.creationDate)}}</td>
                                                    <td class="money-cell">{{expense.moneySpent}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="eigth.categoryId != 0" class="row" data-aos="fade-right" data-aos-duration="1200" data-aos-once="true" data-aos-delay="200">
                        <div class="col-md-12 no-pad">
                            <div class="card card-img">
                                <div class="image">
                                    <div style="width: 100%; height: 100%; background-color: #eccafc;"></div>
                                </div>
                                <div class="card-header">
                                    <h4 class="card-title text-center font-weight-bold">{{'ExpenseCategory.' +eigth.categoryName | translate}} </h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="text-primary text-center table-head">
                                                <tr class="d-flex text-center">
                                                    <th class="user-header">{{'Expenses.User' | translate}}</th>
                                                    <th class="title-header">{{'Expenses.Title' | translate}}</th>
                                                    <th class="details-header">{{'Expenses.Details' | translate}}</th>
                                                    <th class="date-header">{{'Expenses.Date' | translate}}</th>
                                                    <th class="money-header">$</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="d-flex text-center table-text" *ngFor="let expense of eigth.expenses">
                                                    <td class="user-cell">{{expense.userName}}</td>
                                                    <td class="title-cell">{{expense.expenseTitle}}</td>
                                                    <td class="details-cell">{{expense.expenseDescription}}</td>
                                                    <td class="date-cell">{{getFormat(expense.creationDate)}}</td>
                                                    <td class="money-cell">{{expense.moneySpent}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="nineth.categoryId != 0" class="row" data-aos="fade-left" data-aos-duration="1200" data-aos-once="true" data-aos-delay="100">
                        <div class="col-md-12 no-pad">
                            <div class="card card-img">
                                <div class="image">
                                    <div style="width: 100%; height: 100%; background-color: #d1cafc;"></div>
                                </div>
                                <div class="card-header">
                                    <h4 class="card-title text-center font-weight-bold">{{'ExpenseCategory.' +nineth.categoryName | translate}} </h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="text-primary text-center table-head">
                                                <tr class="d-flex text-center">
                                                    <th class="user-header">{{'Expenses.User' | translate}}</th>
                                                    <th class="title-header">{{'Expenses.Title' | translate}}</th>
                                                    <th class="details-header">{{'Expenses.Details' | translate}}</th>
                                                    <th class="date-header">{{'Expenses.Date' | translate}}</th>
                                                    <th class="money-header">$</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="d-flex text-center table-text" *ngFor="let expense of nineth.expenses">
                                                    <td class="user-cell">{{expense.userName}}</td>
                                                    <td class="title-cell">{{expense.expenseTitle}}</td>
                                                    <td class="details-cell">{{expense.expenseDescription}}</td>
                                                    <td class="date-cell">{{getFormat(expense.creationDate)}}</td>
                                                    <td class="money-cell">{{expense.moneySpent}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="tenth.categoryId != 0" class="row" data-aos="fade-right" data-aos-duration="1200" data-aos-once="true" data-aos-delay="200">
                        <div class="col-md-12 no-pad">
                            <div class="card card-img">
                                <div class="image">
                                    <div style="width: 100%; height: 100%; background-color: #cad8fc;"></div>
                                </div>
                                <div class="card-header">
                                    <h4 class="card-title text-center font-weight-bold">{{'ExpenseCategory.' +tenth.categoryName | translate}} </h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="text-primary text-center table-head">
                                                <tr class="d-flex text-center">
                                                    <th class="user-header">{{'Expenses.User' | translate}}</th>
                                                    <th class="title-header">{{'Expenses.Title' | translate}}</th>
                                                    <th class="details-header">{{'Expenses.Details' | translate}}</th>
                                                    <th class="date-header">{{'Expenses.Date' | translate}}</th>
                                                    <th class="money-header">$</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="d-flex text-center table-text" *ngFor="let expense of tenth.expenses">
                                                    <td class="user-cell">{{expense.userName}}</td>
                                                    <td class="title-cell">{{expense.expenseTitle}}</td>
                                                    <td class="details-cell">{{expense.expenseDescription}}</td>
                                                    <td class="date-cell">{{getFormat(expense.creationDate)}}</td>
                                                    <td class="money-cell">{{expense.moneySpent}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="topFiveUsers.length > 0" class="col-xl-4 col-md-12 no-pad">
                <div class="card" style="border-radius: 12px;" data-aos="fade-right" data-aos-duration="1200" data-aos-once="true" data-aos-delay="0">
                    <div class="card-header">
                        <h5 class="card-title">{{'Expenses.Top' | translate}}</h5>
                        <p class="card-category">{{'Months.' + monthName | translate}}</p>
                    </div>
                    <div class="card-body ">
                        <div *ngIf="topFiveUsers != null">
                            <app-pie-graph [topFiveUsers]="topFiveUsers"></app-pie-graph>
                        </div>
                    </div>
                    <div class="card-footer">
                        <hr>
                        <div class="stats">
                            <i class="fa fa-money"></i> {{'Footer.Top5' | translate}}
                        </div>
                    </div>
                </div>
                <div class="card" style="border-radius: 12px;" data-aos="fade-left" data-aos-duration="1200" data-aos-once="true" data-aos-delay="200">
                    <div class="card-header">
                        <h5 class="card-title">{{'Expenses.CategoryCompare' | translate}}</h5>
                        <p class="card-category">{{'Months.' + monthName | translate}}</p>
                    </div>
                    <div class="card-body ">
                        <div *ngIf="barExpenses != null && categories.length > 0">
                            <app-donut-chart-categories [categories]="categories" [barExpensesList]="barExpenses"></app-donut-chart-categories>
                        </div>
                    </div>
                    <div class="card-footer">
                        <hr>
                        <div class="stats">
                            <i class="fas fa-chart-pie"></i> {{'Footer.CatComp' | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="topFiveUsers.length === 0 && !isLoading" class="col-12">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-body ">
                                <div class="row">
                                    <div class="col-5 col-md-4">
                                        <div class="icon-big text-center icon-warning">
                                            <i class="fa fa-exclamation-triangle text-warning"></i>
                                        </div>
                                    </div>
                                    <div class="col-7 col-md-8">
                                        <div class="numbers">
                                            <p class="card-title">{{'Expenses.Nothing' | translate}} </p>
                                            <p>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer ">
                                <hr>
                                <div class="stats">
                                    <i class="fa fa-refresh"></i> {{'Expenses.Nothing' | translate}} {{'Expenses.On' |translate}} {{'Months.' + monthName | translate}}, {{year}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>