.image div {
    opacity: var(--table-expense-header);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--card-background);
    border-radius: 8px;
}

.previous-day,
.next-day {
    width: 20%;
    height: 80px;
    border-radius: 8px;
}

.next-day {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.previous-day {
    display: flex;
    align-items: center;
}

.previous-day .left,
.next-day .right {
    color: var(--sidebar-item-selected);
}

.previous-day:hover {
    background: linear-gradient(to right, var(--sidebar-item-selected) 25%, var(--card-background) 100%);
}

.previous-day:hover .left,
.next-day:hover .right {
    color: var(--card-background);
}

.next-day:hover {
    background: linear-gradient(to left, var(--sidebar-item-selected), var(--card-background));
    color: var(--card-background);
}

.date {
    display: flex;
    align-items: center;
}

.date-value {
    font-size: 40px;
    color: var(--sidebar-item-selected);
}

@media (max-width: 992px) {
    .date-header,
    .date-cell {
        width: 27%;
    }
}

@media (max-width: 570px) {
    .date-value {
        font-size: 30px !important;
    }
    .left,
    .right {
        font-size: 40px !important;
    }
}

@media (max-width: 500px) {
    .no-pad {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
}

@media (max-width: 465px) {
    .date-value {
        font-size: 20px !important;
    }
    .left,
    .right {
        font-size: 30px !important;
    }
}

@media (max-width: 445px) {
    .table-head {
        font-size: 12px !important;
    }
    .table-text {
        font-size: 12px !important;
    }
}

@media (max-width: 405px) {
    .table-head {
        font-size: 10px !important;
    }
    .table-text {
        font-size: 10px !important;
    }
}

@media (max-width: 373px) {
    .table-head {
        font-size: 9px !important;
    }
    .table-text {
        font-size: 9px !important;
    }
}

@media (max-width: 350px) {
    .table-head {
        font-size: 7px !important;
    }
    .table-text {
        font-size: 8px !important;
    }
}