<div *ngIf="isLoading" class="loader-wrapper">
    <div class="loader">
        <div class="face">
            <div class="circle"></div>
        </div>
        <div class="face">
            <div class="circle"></div>
        </div>
    </div>
</div>
<div *ngIf="!isLoading">
    <div class="container-fluid mr-5">
        <div class="card" data-aos="fade-down" data-aos-duration="1200" data-aos-once="true" data-aos-delay="0">
            <div class="header">
                <div class="previous-day" (click)="previousMonth()">
                    <i style="font-size: 60px;" class="fas fa-chevron-left left ml-3"></i>
                </div>
                <div class="date">
                    <!-- <div class="date-value">{{'Months.' + monthName | translate}}, {{year}}</div> -->
                    <div class="date-value text-capitalize">{{monthName}}, {{year}}</div>

                </div>
                <div class="next-day" (click)="next()">
                    <i style="font-size: 60px;" class="fas fa-chevron-right right mr-3"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div *ngIf="data" class="col-xl-8 col-md-12 no-pad">
                <div class="content">
                    <div *ngFor="let exp of data.previousMonthExpenses; let i = index">
                        <div *ngIf="checkTableData(exp)" class="row" data-aos="fade-left"
                            data-aos-duration="1200" data-aos-once="true" data-aos-delay="100">
                            <div class="col-md-12 no-pad">
                                <div class="card card-img">
                                    <div class="image">
                                        <div [style]="'width: 100%; height: 100%; background-color:' + colors[i] + ';'"></div>
                                    </div>
                                    <div class="card-header">
                                        <h4 class="card-title text-center font-weight-bold">{{'ExpenseCategory.'
                                            +exp.categoryName | translate}} </h4>
                                    </div>
                                    <div class="text-center">
                                        <app-table-with-expenses *ngIf="!isLoading"
                                            [tableData]='exp.expenses'
                                            [tableHeaders]='["userName", "expenseTitle", "expenseDescription", "creationDate", "moneySpent"]'
                                            [isThisUser]='null' [isAdmin]="false" [walletCurrency]='walletCurrency'
                                            [hasPaginator]="false">
                                        </app-table-with-expenses>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="data && isUsersDataLengthNotNil" class="col-xl-4 col-md-12 no-pad">
                <div class="card" style="border-radius: 12px;" data-aos="fade-right" data-aos-duration="1200"
                    data-aos-once="true" data-aos-delay="0">
                    <div class="card-header">
                        <h5 class="card-title">{{'Expenses.Top' | translate}}</h5>
                        <p class="card-category">{{monthName}}</p>
                    </div>
                    <div class="card-body ">
                        <div *ngIf="data.topFiveUsers">
                            <app-pie-graph [topFiveUsers]="data.topFiveUsers"></app-pie-graph>
                        </div>
                    </div>
                    <div class="card-footer">
                        <hr>
                        <div class="stats">
                            <i class="fa fa-money"></i> {{'Footer.Top5' | translate}}
                        </div>
                    </div>
                </div>
                <div class="card" style="border-radius: 12px;" data-aos="fade-left" data-aos-duration="1200"
                    data-aos-once="true" data-aos-delay="200">
                    <div class="card-header">
                        <h5 class="card-title">{{'Expenses.CategoryCompare' | translate}}</h5>
                        <p class="card-category">{{monthName}}</p>
                    </div>
                    <div class="card-body ">
                        <div *ngIf="data.previousExpensesBars && isCategoriesLengthNotNil">
                            <app-donut-chart-categories [categories]="categories" [barExpensesList]="data.previousExpensesBars">
                            </app-donut-chart-categories>
                        </div>
                    </div>
                    <div class="card-footer">
                        <hr>
                        <div class="stats">
                            <i class="fas fa-chart-pie"></i> {{'Footer.CatComp' | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="data && !isUsersDataLengthNotNil && !isLoading" class="col-12">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-body ">
                                <div class="row">
                                    <div class="col-5 col-md-4">
                                        <div class="icon-big text-center icon-warning">
                                            <i class="fa fa-exclamation-triangle text-warning"></i>
                                        </div>
                                    </div>
                                    <div class="col-7 col-md-8">
                                        <div class="numbers">
                                            <p class="card-title">{{'Expenses.Nothing' | translate}} </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer ">
                                <hr>
                                <div class="stats">
                                    <i class="fa fa-refresh"></i> {{'Expenses.Nothing' | translate}} {{'Expenses.On'
                                    |translate}} {{monthName}}, {{year}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>