*,
 ::after,
 ::before {
    box-sizing: border-box;
}

.nav li.active>a i,
.nav li.active>a p {
    color: var(--sidebar-item-selected);
    font-weight: 550;
}

.nav.toggled li>a p {
    visibility: hidden;
}

.nav.toggled li>a {
    margin-left: 5px !important;
}

@media (max-width: 767px) {
    .nav li>a {
        margin-left: 5px !important;
    }
    .ml-3,
    .mx-3 {
        margin-left: 0 !important;
    }
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.sidebar,
.nav {
    width: 260px;
    margin-top: 20px;
    display: block;
}

ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.sidebar .nav li>a {
    margin: 10px 15px 0;
    display: block;
    color: var(--sidebar-item);
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 12px;
    padding: 10px 8px;
    line-height: 30px;
    opacity: .7;
}

.sidebar .nav li>a>p {
    margin-bottom: 0;
}

.sidebar .nav i {
    font-size: 24px;
    float: left;
    margin-right: 12px;
    line-height: 30px;
    width: 34px;
    text-align: center;
    color: var(--sidebar-item);
    position: relative;
}