<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li routerLinkActive="active">
          <a [routerLink]="['/home']">
            <i class="nc-icon nc-shop"></i>
            <p>Home</p>
          </a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/wallet']">
            <i class="nc-icon nc-bank"></i>
            <p>Your Wallet</p>
          </a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/getWalletStatistics']">
            <i class="nc-icon nc-chart-bar-32"></i>
            <p>Wallet Statistics</p>
          </a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/home3']" >
            <i class="nc-icon nc-circle-10"></i>
            <p>User Statistics</p>
          </a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/catstat']">
            <i class="nc-icon nc-chart-pie-36"></i>
            <p>Category Statistics</p>
          </a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/home2']" >
            <i class="nc-icon nc-badge"></i>
            <p>Profile</p>
          </a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/walletAdmin']" >
            <i class="nc-icon nc-lock-circle-open"></i>
            <p>Admin Panel</p>
          </a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/createExpense']" >
            <i class="nc-icon nc-money-coins"></i>
            <p>New Expense</p>
          </a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/checkRequests']" >
            <i class="nc-icon nc-email-85"></i>
            <p>Check Requests</p>
          </a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/createInvite']" >
            <i class="nc-icon nc-simple-add"></i>
            <p>Invite User</p>
          </a>
        </li>
        <li>
      </ul>
    </div>
  </div>