<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Manage wallet's users</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr class="d-flex">
                                    <th class="col-2">Username</th>
                                    <th class="col-3">Date joined</th>
                                    <th class="col-2">Address</th>
                                    <th class="col-1">Age</th>
                                    <th class="col-2">Roles</th>
                                    <th class="col-1">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr [attr.id]="i" class="d-flex" *ngFor="let user of users; index as i">
                                    <th class="col-2">{{user.username}}</th>
                                    <th class="col-3">{{user.dateJoined}}</th>
                                    <th class="col-2">{{user.address}}</th>
                                    <th class="col-1">{{user.age}}</th>
                                    <th class="col-2"><span *ngFor="let role of user.userRoles">{{role}}<br /></span>
                                    </th>
                                    <th class="col-1">
                                        <div *ngIf="!user.userRoles.includes('Admin')">
                                            <button matTooltip="Block user" class="btn btn-warning btn-sm mr-2"><i
                                                    class="fa fa-lock"></i></button>
                                            <button matTooltip="Remove user" (click)="removeUser(user.id, i)"
                                                class="btn btn-danger btn-sm mr-2"><i
                                                    class="nc-icon nc-simple-remove "></i></button>
                                            <button matTooltip="Make this user a moderator"
                                                *ngIf="user.userRoles.includes('Adult') && !user.userRoles.includes('Admin')"
                                                class="btn btn-warning btn-sm mr-2"><i
                                                    class="nc-icon nc-trophy"></i></button>
                                        </div>
                                    </th>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card ">
    <div class="card-header ">
      <h5 class="card-title">Email Statistics</h5>
      <p class="card-category">Last Campaign Performance</p>
    </div>
    <div class="card-body "><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
      <canvas id="chartEmail" width="478" height="239" class="chartjs-render-monitor" style="display: block; width: 478px; height: 239px;"></canvas>
    </div>
    <div class="card-footer ">
      <div class="legend">
        <i class="fa fa-circle text-primary"></i> Opened
        <i class="fa fa-circle text-warning"></i> Read
        <i class="fa fa-circle text-danger"></i> Deleted
        <i class="fa fa-circle text-gray"></i> Unopened
      </div>
      <hr>
      <div class="stats">
        <i class="fa fa-calendar"></i> Number of emails sent
      </div>
    </div>
  </div>

<!-- <div class="container">
    <table class="table table-dark table-striped table-hover table-sm text-light">
        <thead>
            <tr class="d-flex">
                <th class="col-2">Username</th>
                <th class="col-3">Date joined</th>
                <th class="col-2">Address</th>
                <th class="col-1">Age</th>
                <th class="col-2">Roles</th>
                <th class="col-1">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr [attr.id]="i" class="d-flex" *ngFor="let user of users; index as i">
                <th class="col-2">{{user.username}}</th>
                <th class="col-3">{{user.dateJoined}}</th>
                <th class="col-2">{{user.address}}</th>
                <th class="col-1">{{user.age}}</th>
                <th class="col-2"><span *ngFor="let role of user.userRoles">{{role}}<br/></span></th>
                <th class="col-1">
                    <button class="btn btn-warning btn-sm">Block</button>
                    <button (click)="removeUser(user.id, i)" class="btn btn-danger btn-sm">Remove</button>
                    <button *ngIf="user.userRoles.includes('Adult') && !user.userRoles.includes('Admin')" class="btn btn-warning btn-sm">Make moderator</button>
                </th>
            </tr>
            <tr>Total spent: </tr>
        </tbody>
    </table>
</div> -->