<div *ngIf="isLoading" class="loader-wrapper">
    <div class="loader">
        <div class="face">
            <div class="circle"></div>
        </div>
        <div class="face">
            <div class="circle"></div>
        </div>
    </div>
</div>
<div *ngIf="!isLoading" class="row">
    <div class="col-xl-5 col-md-12">
        <div class="row justify-content-around mb-3">
            <div class="col-lg-6 mb-3">
                <button (click)="sendInvitation()"
                    class="btn buttons add-user btn-block font-weight-bold">{{"Admin.InviteUser" | translate}}</button>
            </div>
            <div class="col-lg-6">
                <button (click)="onWalletEditDialog()"
                    class="btn btn-outline-success btn-block buttons edit-wallet font-weight-bold">{{"Admin.WalletEdit"
                    | translate}}</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" data-aos="fade-right" data-aos-duration="1200" data-aos-once="true"
                data-aos-delay="0">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5 col-md-4">
                                <div class="icon-big ml-4">
                                    <i class="fa fa-users text-success"></i>
                                </div>
                            </div>
                            <div class="col-7 col-md-8">
                                <div class="numbers">
                                    <p class="card-category">{{"Admin.WalletUsers" | translate}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <div class="stats">
                            <div class="mat-elevation-z8 users">
                                <table style="width: 100%;" mat-table [dataSource]="users">
                                    <ng-container matColumnDef="username">
                                        <th class="text-center table-head user-table-header" mat-header-cell
                                            *matHeaderCellDef> {{"Expenses.User" | translate}} </th>
                                        <td class="text-center table-text" mat-cell *matCellDef="let element">
                                            {{element.username}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="dateJoined">
                                        <th class="text-center table-head date-table-header" mat-header-cell
                                            *matHeaderCellDef> {{"Profile.Joined" | translate}} </th>
                                        <td class="text-center table-text" mat-cell *matCellDef="let element">
                                            {{getFormat(element.dateJoined)}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="userRoles">
                                        <th class="text-center table-head user-table-header" mat-header-cell
                                            *matHeaderCellDef> {{"Profile.Roles" | translate}} </th>
                                        <td class="text-center table-text" mat-cell *matCellDef="let element">
                                            {{element.userRoles.join(', ')}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="actions">
                                        <th class="table-text" mat-header-cell *matHeaderCellDef> {{"Expenses.Actions" |
                                            translate}} </th>
                                        <td class="table-text" mat-cell *matCellDef="let element; let i = index">
                                            <div *ngIf="!isInRole(element,'Admin')">
                                                <a matTooltipShowDelay="300" *ngIf="!isInRole(element, 'Blocked')" (click)="blockUser(element, i)" matTooltip="Block User" class="mr-2"><i class="fa fa-lock text-primary"></i></a>
                                                <a matTooltipShowDelay="300" *ngIf="isInRole(element,'Blocked')" (click)="unblockUser(element, i)" matTooltip="Unblock User" class="mr-2"><i class="fa fa-lock" style="color: rgb(138, 138, 138);"></i></a>
                                                <a matTooltipShowDelay="300" matTooltip="Remove User" (click)="removeUser(element.id, i)" class="mr-2"><i
                                                        class="fa fa-user-times text-danger"></i></a>
                                                <a matTooltipShowDelay="300" matTooltip="Make VIP" *ngIf="!isInRole(element,'VIP')" (click)="makeUserPremium(element, i)" class="mr-2"><i class="fas fa-crown text-warning"></i></a>
                                                <a matTooltipShowDelay="300"  matTooltip="Make Standard" *ngIf="isInRole(element,'VIP')" (click)="removePremiumStatus(element, i)" class="mr-2">
                                                    <i class="fas fa-user" style="color: rgb(138, 138, 138);"></i>
                                                </a>
                                                <a *ngIf="!isInRole(element,'Admin')" (click)="editUser(element)" class="mr-2"><i class="fa fa-users-cog text-success"></i></a>
                                            </div>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="columnsForUsers"></tr>
                                    <tr mat-row *matRowDef="let row; columns: columnsForUsers;"></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-12" data-aos="fade-right" data-aos-duration="1200" data-aos-once="true"
                data-aos-delay="350">
                <app-check-requests (onUserAdd)="addUserFromRequest()"></app-check-requests>
            </div>
        </div>
    </div>
    <div class="col-xl-7 col-md-12" data-aos="fade-left" data-aos-duration="1200" data-aos-once="true"
        data-aos-delay="200">
        <div class="mat-elevation-z8 text-center">
            <app-table-with-expenses *ngIf="isLengthNotNill" [tableData]='expenses'
                [tableHeaders]='columnsForExpenses' [isThisUser]='false' [isAdmin]="true" [walletCurrency]='walletCurrency'>
            </app-table-with-expenses>
        </div>
    </div>
</div>