<div mat-dialog-content>
    <div class="container outer">
        <div class="border-primary">
            <form [formGroup]="editExpense" (ngSubmit)="isAdminEdit != true ? onEdit() : onAdminEdit()">
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" [ngClass]="{'bg-danger text-light': editExpense.get('title').errors && editExpense.get('title').touched,
                        'bg-success text-white': !editExpense.get('title').errors}">{{'Expenses.Title' | translate}}</span>
                        </div>
                        <input [ngClass]="{'is-invalid': editExpense.get('title').errors && editExpense.get('title').touched,
                                    'is-valid': !editExpense.get('title').errors}" type="text" formControlName="title" class="form-control input-data">

                        <div *ngIf="editExpense.get('title').hasError('required') && editExpense.get('title').touched" class="invalid-feedback">
                            {{'Validation.TitleRe' | translate}}
                        </div>
                        <div *ngIf="editExpense.get('title').hasError('minlength') && editExpense.get('title').touched" class="invalid-feedback">
                            {{'Validation.TitleMin' | translate}}
                        </div>
                        <div *ngIf="editExpense.get('title').hasError('maxlength') && editExpense.get('title').touched" class="invalid-feedback">
                            {{'Validation.TitleMax' | translate}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" [ngClass]="{'bg-danger text-light': editExpense.get('desc').errors && editExpense.get('desc').touched,
                        'bg-success text-white': !editExpense.get('desc').errors}">{{'Expenses.Details' | translate}}</span>
                        </div>
                        <textarea [ngClass]="{'is-invalid': editExpense.get('desc').errors && editExpense.get('desc').touched,
                                    'is-valid': !editExpense.get('desc').errors}" type="text" formControlName="desc" class="form-control input-data"></textarea>

                        <div *ngIf="editExpense.get('desc').hasError('minlength') && editExpense.get('desc').touched" class="invalid-feedback">
                            {{'Validation.DescMin' | translate}} </div>
                        <div *ngIf="editExpense.get('desc').hasError('maxlength') && editExpense.get('desc').touched" class="invalid-feedback">
                            {{'Validation.DescMax' | translate}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-success text-white">{{'Expenses.Date' | translate}}</span>
                        </div>
                        <input class="is-valid" disabled formControlName="date" class="form-control input-data">


                        <div *ngIf="editExpense.get('desc').hasError('minlength') && editExpense.get('desc').touched" class="invalid-feedback">
                            {{'Validation.DescMin' | translate}} </div>
                        <div *ngIf="editExpense.get('desc').hasError('maxlength') && editExpense.get('desc').touched" class="invalid-feedback">
                            {{'Validation.DescMax' | translate}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" [ngClass]="{'bg-danger text-light': editExpense.get('money').errors && editExpense.get('money').touched,
                        'bg-success text-white': !editExpense.get('money').errors}">$</span>
                        </div>
                        <input [ngClass]="{'is-invalid': editExpense.get('money').errors && editExpense.get('money').touched,
                                    'is-valid': !editExpense.get('money').errors}" type="number" formControlName="money" class="form-control input-data">

                        <div *ngIf="editExpense.get('money').hasError('required') && editExpense.get('money').touched" class="invalid-feedback">
                            {{'Validation.MoneyReq' | translate}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-outline-secondary btn-block" [disabled]="editExpense.invalid" [ngClass]="{'btn-outline-success': editExpense.valid}">{{'Expenses.Edit' | translate}}</button>

                </div>
            </form>
            <button class="btn btn-warning btn-block" (click)="back()">{{'Profile.Back' | translate}}</button>
        </div>
    </div>
</div>