<div class="container">
    <div class="row">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>From</th>
                    <th>Date</th>
                    <th>@</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let request of requests">
                    <td scope="row">{{request.requestCreatorEmail}}</td>
                    <td>{{request.inviteCreationTime}}</td>
                    <td><button class="btn btn-success btn-sm mr-2" (click)="acceptRequest(request.requestCreatorEmail)">Accept</button><button
                            class="btn btn-danger btn-sm" (click)="declineRequest(request.requestCreatorEmail)">Decline</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>