<div class="outer">
  <div class="item status">Your status is: <span style="font-weight: bold;">{{vipStatus}}</span></div>
  <div class="item benefits">
    <div *ngIf="vipStatus !== 'VIP'" class="text-center mt-5" >Why should you become a premium member?</div>
    <div *ngIf="vipStatus === 'VIP'" class="text-center mt-5" >Benefits of being a VIP!</div>
    <div class="row mb-5 mt-5">
        <div class="col-md-4 text-center" data-aos="fade-up" data-aos-duration="1200" data-aos-once="true" data-aos-delay="0">
            <img src="assets/images/home/001-wallet.svg" class="img-fluid w-25 mb-4">
            <h3 class="card-title">Get more information</h3>
            <p>Get access to advanced statistics</p>
        </div>
        <div class="col-md-4 text-center" data-aos="fade-up" data-aos-duration="1200" data-aos-once="true" data-aos-delay="100">
            <img src="assets/images/home/004-cart.svg" class="img-fluid w-25 mb-4">
            <h3 class="card-title">{{"Home.ControlBudget" | translate}}</h3>
            <p>See what your members spend on daily basis</p>
        </div>
        <div class="col-md-4 text-center" data-aos="fade-up" data-aos-duration="1200" data-aos-once="true" data-aos-delay="200">
            <img src="assets/images/home/006-credit-card.svg" class="img-fluid w-25 mb-4">
            <h3 class="card-title">{{"Home.TrackExpenses" | translate}}</h3>
            <p>Get monthly reports on your spending habits!</p>
        </div>
    </div>
  </div>
  <div class="item price">
    <div class="card pricing col-md-3 text-center">
      <p>$12 / month</p>
      <ul>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet consectetur</li>
        <li>Lorem, ipsum dolor.</li>
        <li>Lorem, ipsum.</li>
      </ul>
    </div>
    <div class="card pricing col-md-3 text-center">
      <p>$12 / month</p>
      <ul>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet consectetur</li>
        <li>Lorem, ipsum dolor.</li>
        <li>Lorem, ipsum.</li>
      </ul>
    </div>
    <div class="card pricing col-md-3 text-center">
      <p>$12 / month</p>
      <ul>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet consectetur</li>
        <li>Lorem, ipsum dolor.</li>
        <li>Lorem, ipsum.</li>
      </ul>
    </div>
  </div>
</div>
<button *ngIf="vipStatus !== 'VIP'" (click)="onPremiumClick()">Become premium</button>
