<div class="outer">
  <div class="item status">{{"Premium.Status" | translate}} <span style="font-weight: bold;">{{vipStatus}}</span></div>
  <div class="item benefits">
    <div *ngIf="!getStatus" class="text-center mt-5">{{"Premium.Question" | translate}}</div>
    <div *ngIf="getStatus" class="text-center mt-5">{{"Premium.Benefits" | translate}}</div>
    <div class="row mb-5 mt-5">
      <div class="col-md-4 text-center" data-aos="fade-up" data-aos-duration="1200" data-aos-once="true"
        data-aos-delay="0">
        <img src="assets/images/home/001-wallet.svg" class="img-fluid w-25 mb-4">
        <h3 class="card-title">{{"Premium.GetMoreInfo" | translate}}</h3>
        <p>{{"Premium.FirstTip" | translate}}</p>
      </div>
      <div class="col-md-4 text-center" data-aos="fade-up" data-aos-duration="1200" data-aos-once="true"
        data-aos-delay="100">
        <img src="assets/images/home/004-cart.svg" class="img-fluid w-25 mb-4">
        <h3 class="card-title">{{"Home.ControlBudget" | translate}}</h3>
        <p>{{"Premium.SecondTip" | translate}}</p>
      </div>
      <div class="col-md-4 text-center" data-aos="fade-up" data-aos-duration="1200" data-aos-once="true"
        data-aos-delay="200">
        <img src="assets/images/home/006-credit-card.svg" class="img-fluid w-25 mb-4">
        <h3 class="card-title">{{"Home.TrackExpenses" | translate}}</h3>
        <p>{{"Premium.ThirdTip" | translate}}</p>
      </div>
    </div>
  </div>
  <div *ngIf="getStatus"class="item price row">
    <div class="col-xl-3 col-lg-4 col-12">
      <div class="card pricing text-center">
        <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom shadow-sm sp">{{"Premium.Beginner" | translate}}</span>
        <p class="mt-3"><span style="font-size: 25pt; font-weight: bold;">$19.99 </span> {{"Premium.OneMonth" | translate}}</p>
        <div>
          <ul class="list-unstyled">
            <li>{{"Premium.FirstPlanDetailed" | translate}}</li>
            <li>{{"Premium.SecondPlanDetailed" | translate}}</li>
            <li>{{"Premium.ThirdPlanDetailed" | translate}}</li>
          </ul>
          <button class="btn confirm-button mb-2">{{"Premium.Order" | translate}}</button>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-12">
      <div class="card pricing text-center">
        <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom shadow-sm sp">{{"Premium.Advanced" | translate}}</span>
        <p class="mt-3"><span style="font-size: 25pt; font-weight: bold;">$29.99 </span> {{"Premium.ThreeMonth" | translate}}</p>
        <div>
          <ul class="list-unstyled">
            <li>{{"Premium.FirstPlanDetailed" | translate}}</li>
            <li>{{"Premium.SecondPlanDetailed" | translate}}</li>
            <li>{{"Premium.ThirdPlanDetailed" | translate}}</li>
          </ul>
          <button class="btn confirm-button mb-2">{{"Premium.Order" | translate}}</button>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-12">
      <div class="card pricing text-center">
        <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom shadow-sm sp">{{"Premium.Pro" | translate}}</span>
        <p class="mt-3"><span style="font-size: 25pt; font-weight: bold;">$99.99 </span> {{"Premium.TwelveMonth" | translate}}</p>
        <div>
          <ul class="list-unstyled">
            <li>{{"Premium.FirstPlanDetailed" | translate}}</li>
            <li>{{"Premium.SecondPlanDetailed" | translate}}</li>
            <li>{{"Premium.ThirdPlanDetailed" | translate}}</li>
          </ul>
          <button class="btn confirm-button mb-2">{{"Premium.Order" | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
<button *ngIf="!getStatus" (click)="onPremiumClick()">{{"Premium.BecomePremium" | translate}}</button>
