/* You can add global styles to this file, and also import other style files */

@import url("./app/css/icons.css");
@import url("./app/css/cards.css");
*{
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}
html, body {
    height: 100%;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}

body {
    margin: 0;
    
}

.mat-typography h5, .mat-h5{
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
    font-size: 1.57em;
}