/* You can add global styles to this file, and also import other style files */

@import url("./app/css/icons.css");
@import url("./app/css/cards.css");
@import url("./app/css/tables.css");
:root {
    --content-background: #dee8f1;
    /* ---------------------- */
    --sidebar-background: #e3f2ff;
    --sidebar-header-item: #bde0ff;
    --sidebar-item: #66615B;
    --sidebar-item-selected: #0084ff;
    /* ---------------------- */
    --navbar-background: #eef7ff;
    --navbar-borders: #c7d6ff;
    --navbar-text: black;
    --navbar-icons: #0084ff;
    /* ---------------------- */
    --card-background: #fffffff5;
    --card-header-text: black;
    --card-description-text: #9A9A9A;
    --card-table-header: #0084ff;
    --card-table-text: black;
    --card-footer-text: #66615B;
    /* ---------------------- */
    --table-expense-header: 1;
    /* ---------------------- */
    --text-color: black;
    /* ---------------------- */
    --spinner-first: #00e1ff;
    --spinner-second: #006eff;
    /* ---------------------- */
}

* {
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}

html,
body {
    min-height: 100%;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}

body {
    margin: 0;
}

.mat-typography h5,
.mat-h5,
.mat-typography h4,
.mat-h4,
.mat-typography h3,
.mat-h3,
.mat-typography h2,
.mat-h2,
.mat-typography h1,
.mat-h1 {
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif !important;
    font-size: 1.57em !important;
}

.mat-button,
.mat-icon-button,
.mat-stroked-button {
    color: var(--sidebar-item-selected)!important;
}

.mat-calendar {
    background-color: var(--card-background);
}

.mat-calendar-body-cell-content,
.mat-calendar-body-label,
.mat-calendar-table-header {
    color: var(--text-color) !important;
}

.mat-typography {
    font-family: none;
}

.ajs-message,
.ajs-warning,
.ajs-visible {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #31708f;
}

.mat-drawer-inner-container {
    overflow-x: hidden !important;
    background-color: var(--sidebar-background);
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
    visibility: hidden !important;
}

.mat-form-field-infix {
    width: 0px !important;
}

.mat-drawer-side {
    border-right: solid 1px var(--navbar-borders) !important;
}

.mat-table,
.mat-paginator {
    background-color: var(--card-background) !important;
}

th.mat-header-cell {
    color: var(--card-table-header) !important;
}

td.mat-cell {
    color: var(--card-table-text) !important;
}

.mat-paginator-range-label,
.mat-paginator-range-actions button {
    color: var(--card-table-header) !important;
}

.mat-dialog-container {
    background-color: var(--card-background) !important;
}

td.mat-cell:first-of-type {
    padding-left: 0px !important;
}

td.mat-cell:last-of-type {
    padding-right: 5px !important;
}


/* media */


/* 

td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
td.mat-footer-cell:last-of-type,
td.mat-cell:last-of-type {
    padding-left: 3px !important;
    padding-right: 3px !important;
}

th.mat-header-cell:last-of-type {
    padding-right: 0px !important;
} */


/* scroll */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 3px;
}

::-webkit-scrollbar {
    width: 4px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(122, 153, 217)), color-stop(0.72, rgb(73, 125, 189)), color-stop(0.86, rgb(28, 58, 148)));
}