/* You can add global styles to this file, and also import other style files */

@import url("./app/css/icons.css");
@import url("./app/css/cards.css");
*{
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}
html, body {
    height: 100%;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}

body {
    margin: 0;
    
}

.mat-typography h5, .mat-h5, 
.mat-typography h4, .mat-h4,
.mat-typography h3, .mat-h3,
.mat-typography h2, .mat-h2,
.mat-typography h1, .mat-h1{
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif !important;
    font-size: 1.57em !important;
}

.mat-typography{
    font-family: none;
}

.ajs-message, .ajs-warning, .ajs-visible { color: #31708f;  background-color: #d9edf7;  border-color: #31708f; }


.mat-drawer-inner-container {
    overflow: hidden !important;
}