.navbar {
    box-shadow: none;
    border-bottom: 1px solid var(--navbar-borders);
    padding: 4px;
    background-color: var(--navbar-background);
    color: var(--navbar-text);
}

.nav-left-side {
    justify-content: center;
    align-items: center;
}

.nav-container {
    height: 51px;
}

.expense-image {
    border-right: 1px solid var(--navbar-borders);
    width: 257px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

i,
.user {
    color: var(--text-color);
}

.user {
    justify-content: center;
    align-items: center;
}

.user div {
    font-size: 20px;
}

.toggleButton,
.logout {
    border-color: var(--navbar-icons);
    background-color: transparent;
    color: var(--button-text);
}

.toggleButton:hover i,
.toggleButton:hover,
.logout:hover {
    color: var(--button-text-hover) !important;
    background-color: var(--navbar-icons);
}

.toggleButton i,
.logout {
    color: var(--button-text) !important;
}

.right-nav {
    width: calc(100% - 257px);
}

.dropdown-toggle:after {
    content: none
}

.dropdown-menu {
    background-color: var(--navbar-background);
}

.dropdown-item:hover {
    filter: brightness(150%);
    background-color: var(--navbar-background);
}

.dropdown-menu a,
.dropdown-menu label {
    color: var(--text-color);
}

.lang {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.language-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.language {
    width: 30px;
    height: auto;
    cursor: pointer;
}

.active-lang {
    filter: brightness(100%);
}

.inactive {
    filter: brightness(50%);
    /* color: var(--text-color); */
    cursor: pointer;
}

.inactive:hover {
    filter: brightness(105%);
}

.avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

@media (max-width: 767px) {
    .expense-image {
        width: 56px;
    }
    .toggleButton {
        display: none;
    }
    .right-nav {
        width: calc(100% - 55px);
    }
    .user {
        margin-right: 15px !important;
    }
    .logout {
        margin-right: 20px !important;
    }
}


/* @media (max-width: 576px) {
    .expense-image {
        border-right: none;
    }
    .avatar {
        display: none;
    }
    .user,
    .logout {
        margin-right: 10px !important;
    }
    .user div {
        font-size: 15px;
    }
} */

@media (max-width: 380px) {
    .user div {
        font-size: .7rem;
    }
    .logout {
        font-size: .7rem;
    }
}