.navbar {
    box-shadow: none;
    border-bottom: 1px solid var(--navbar-borders);
    padding: 4px;
    background-color: var(--navbar-background);
    color: var(--navbar-text);
}

.nav-left-side {
    justify-content: center;
    align-items: center;
}

.nav-container {
    height: 51px;
}

.expense-image {
    border-right: 1px solid var(--navbar-borders);
    width: 257px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggleButton {
    border-color: var(--navbar-icons) !important;
}

.toggleButton:hover {
    filter: opacity(60%);
    border-color: var(--navbar-icons) !important;
}

.toggleButton i {
    color: var(--navbar-icons) !important;
}

.right-nav {
    width: calc(100% - 257px);
}

.dropdown-toggle:after {
    content: none
}

@media (max-width: 767px) {
    .expense-image {
        width: 55px;
    }
    .right-nav {
        width: calc(100% - 55px);
    }
}

@media (max-width: 576px) {
    .expense-image {
        border-right: none;
    }
}