<nav class="navbar navbar-expand-lg navbar-absolute fixed-top m-0">
  <div class="container-fluid">
    <div class="navbar-divider mr-3">
    </div>
    <div class="navbar-wrapper d-flex">

      <button type="button" class="btn btn-outline-dark mr-5" (click)="onToggle()">
        <i class="nc-icon" [ngClass]="toggleState == false ? 'nc-minimal-left' : 'nc-minimal-right'"></i>
      </button>
      <div class="dropdown">
        <button type="button" class="btn button-transparent dropdown-toggle pr-0 pl-0" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="nc-icon nc-settings-gear-65"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Edit profile</a>
          <a class="dropdown-item" style="cursor: pointer;" (click)="onWalletEditDialog()">Edit wallet</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
      <div class="dropdown">
        <button type="button" class="btn button-transparent dropdown-toggle" id="notifications" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i [matBadgeHidden]="notificationCount === 0 ? true : false" matBadge={{notificationCount}} matBadgeSize="small" matBadgeColor="warn" class="nc-icon nc-bell-55"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="notifications">
        </div>
      </div>

      <button (click)="logout()" class="btn btn-primary">logout</button>
      <button (click)="test()" class="btn btn-primary">test</button>
    </div>

    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <!-- <div class="ml-auto" *ngIf="!isLoggedIn">
        <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <ul class="navbar-nav">
              <div class="mr-2">
                <li>
                  <label for="login" class="text-light">Login</label>
                  <input formControlName="username" id="login" type="text" class="form-control-sm">
                </li>
              </div>
              <li>
                <div class="mr-2">
                  <label class="text-light" for="password">Password</label>
                  <input formControlName="userpass" type="password" class="form-control-sm ml-3">
                </div>
              </li>
              <li><button class="btn btn-secondary btn-sm">Login</button></li>
            </ul>
          </div>
        </form>
      </div> -->
    </div>
  </div>
</nav>