.navbar {
    box-shadow: none;
    border-bottom: 1px solid rgb(202, 201, 201);
    padding: 4px;
    background-color: rgb(238, 247, 255);
}

.nav-container {
    height: 51px;
}

.expense-image {
    border-right: 1px solid rgb(202, 201, 201);
    width: 257px;
    padding: 0;
    margin: 0;
}

.right-nav {
    width: calc(100% - 257px);
}

.size {
    height: 20px;
    width: 20px;
    border: 1px solid black;
}

.dropdown-toggle:after {
    content: none
}

@media (max-width: 767px) {
    .toggleButton {
        visibility: hidden;
    }
    .expense-image {
        width: 150px;
    }
}

@media (max-width: 576px) {
    .size {
        background: red;
    }
    .expense-image {
        border-right: none;
    }
    .brand-name {
        visibility: hidden;
    }
}

/* Medium devices (tablets) */

@media (min-width: 768px) {
    .size {
        background: blue;
    }
}

/* Large devices (desktops) */

@media (min-width: 992px) {
    .size {
        background: green;
    }
}

/* Extra large devices (large desktops) */

@media (min-width: 1200px) {
    .size {
        background: yellow;
    }
}

/* The given screen size or smaller */

/* Extra small devices (portrait phones)*/

@media (max-width: 575px) {
    .size {
        background: coral;
    }
}

/* Small devices (landscape phones)*/

@media (max-width: 767px) {}

/* Medium devices (tablets)*/

@media (max-width: 1199px) {}

/* Large devices (desktops)*/