<!-- <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Fluid jumbo heading</h1>
        <p class="lead">Welcome,</p>
        <hr class="my-2">
        <p>More info</p>
        <p class="lead">
            <button *ngIf="!isAuthorized && !hasWallet()" class="btn btn-primary btn-lg mr-3"
                (click)="goToRegistration()">Create a new account</button>
            <button *ngIf="isAuthorized && !hasWallet()" class="btn btn-primary btn-lg mr-3"
                (click)="goToWalletCreation()">Create a wallet</button>
            <button *ngIf="isAuthorized && !hasWallet()" class="btn btn-primary btn-lg mr-3"
                (click)="requestWalletAccess()">Request access to a wallet</button>
                <button *ngIf="isAuthorized && !hasWallet()" class="btn btn-primary btn-lg mr-3"
                (click)="checkInvites()">Check invites</button>
            <button *ngIf="isAuthorized && hasWallet()" class="btn btn-primary btn-lg mr-3" (click)="goToWallet()">Go to
                your wallet</button>
        </p>
    </div>
</div> -->

<div class="container">
  <div class="row">
    <button class="btn btn-danger btn-block" (click)="chooseCategories()">Choose categories</button>
    <button [disabled]="dragHistory.length <= 0" class="btn btn-primary btn-block" (click)="clearCategories()">Clear categories</button>
  </div>
</div>

<div class="example-container">
  <h2>Advisable</h2>

  <div
    cdkDropList
    id="advisable"
    #advisableList="cdkDropList"
    [cdkDropListData]="advisable"
    [cdkDropListConnectedTo]="[finalCategoriesList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of advisable" cdkDrag>{{item}}</div>
  </div>
</div>

<div class="example-container">
  <h2>Food</h2>

  <div
    cdkDropList
    id="food"
    #foodList="cdkDropList"
    [cdkDropListData]="food"
    [cdkDropListConnectedTo]="[finalCategoriesList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of food" cdkDrag>{{item}}</div>
  </div>
</div>

<div class="example-container">
  <h2>Clothes</h2>
  <div
    cdkDropList
    id="clothes"
    #clothesList="cdkDropList"
    [cdkDropListData]="clothes"
    [cdkDropListConnectedTo]="[finalCategoriesList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of clothes" cdkDrag>{{item}}</div>
  </div>
</div>

<div class="example-container">
  <h2>Entertainment</h2>
  <div
    cdkDropList
    id="ent"
    #entList="cdkDropList"
    [cdkDropListData]="entertainment"
    [cdkDropListConnectedTo]="[finalCategoriesList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of entertainment" cdkDrag>{{item}}</div>
  </div>
</div>

<div class="example-container">
  <h2>Done</h2>

  <div
    cdkDropList
    #finalCategoriesList="cdkDropList"
    [cdkDropListData]="finalCategories"
    
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of finalCategories" cdkDrag>{{item}}</div>
  </div>
</div>

<!-- <div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Notifications</h5>
        <p class="card-category">Handcrafted by our friend <a target="_blank" href="https://github.com/mouse0270">Robert
            McIntosh</a>. Please checkout the <a href="http://bootstrap-notify.remabledesigns.com/" target="_blank">full
            documentation.</a></p>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="card card-plain">
              <div class="card-header">
                <h5 class="card-title">Notifications Style</h5>
              </div>
              <div class="card-body">
                <div class="alert alert-info">
                  <span>This is a plain notification</span>
                </div>
                <div class="alert alert-info alert-dismissible fade show">
                  <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="nc-icon nc-simple-remove"></i>
                  </button>
                  <span>This is a notification with close button.</span>
                </div>
                <div class="alert alert-info alert-with-icon alert-dismissible fade show" data-notify="container">
                  <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="nc-icon nc-simple-remove"></i>
                  </button>
                  <span data-notify="icon" class="nc-icon nc-bell-55"></span>
                  <span data-notify="message">This is a notification with close button and icon.</span>
                </div>
                <div class="alert alert-info alert-with-icon alert-dismissible fade show" data-notify="container">
                  <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="nc-icon nc-simple-remove"></i>
                  </button>
                  <span data-notify="icon" class="nc-icon nc-chart-pie-36"></span>
                  <span data-notify="message">This is a notification with close button and icon and have many lines. You
                    can see that the icon and the close button are always vertically aligned. This is a beautiful
                    notification. So you don't have to worry about the style.</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card card-plain">
              <div class="card-header">
                <h5 class="card-title">Notification states</h5>
              </div>
              <div class="card-body">
                <div class="alert alert-primary alert-dismissible fade show">
                  <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="nc-icon nc-simple-remove"></i>
                  </button>
                  <span><b> Primary - </b> This is a regular notification made with ".alert-primary"</span>
                </div>
                <div class="alert alert-info alert-dismissible fade show">
                  <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="nc-icon nc-simple-remove"></i>
                  </button>
                  <span><b> Info - </b> This is a regular notification made with ".alert-info"</span>
                </div>
                <div class="alert alert-success alert-dismissible fade show">
                  <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="nc-icon nc-simple-remove"></i>
                  </button>
                  <span><b> Success - </b> This is a regular notification made with ".alert-success"</span>
                </div>
                <div class="alert alert-warning alert-dismissible fade show">
                  <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="nc-icon nc-simple-remove"></i>
                  </button>
                  <span><b> Warning - </b> This is a regular notification made with ".alert-warning"</span>
                </div>
                <div class="alert alert-danger alert-dismissible fade show">
                  <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="nc-icon nc-simple-remove"></i>
                  </button>
                  <span><b> Danger - </b> This is a regular notification made with ".alert-danger"</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-globe text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Capacity</p>
              <p class="card-title">150GB</p>
              <p>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i>
          Update Now
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-money-coins text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Revenue</p>
              <p class="card-title">$ 1,345</p>
              <p>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-calendar-o"></i>
          Last day
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-vector text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Errors</p>
              <p class="card-title">23</p>
              <p>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-clock-o"></i>
          In the last hour
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-favourite-28 text-primary"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Followers</p>
              <p class="card-title">+45K</p>
              <p>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i>
          Update now
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-globe text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category mb-2">Caption</p>
              <p class="card-title">Data</p>
              <p>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i>
          Footer data
        </div>
      </div>
    </div>
  </div>
</div> -->