<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container">
        <a [routerLink]="['/main/home']" class="navbar-brand">Xpense</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="language-item">
            <img (click)="changeLang('ru')" class="language mr-3" [ngClass]="{'active-lang': !isEnglishActiveLanguage, 'inactive': isEnglishActiveLanguage }" src="assets/images/rus.png" alt="russian_language">
            <img (click)="changeLang('en')" class="language" [ngClass]="{'active-lang': isEnglishActiveLanguage, 'inactive': !isEnglishActiveLanguage }" src="assets/images/usa.png" alt="english_language">
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li routerLinkActive="active" class="nav-item">
                    <a [routerLink]="['home']" class="nav-link">{{"Navigation.Home" | translate}}</a>
                </li>
                <li routerLinkActive="active" *ngIf="!isSignedIn" class="nav-item">
                    <a [routerLink]="['reg']" class="nav-link">{{"Navigation.Start" | translate}}</a>
                </li>
                <li routerLinkActive="active" *ngIf="isSignedIn" class="nav-item">
                    <a [routerLink]="['no-wallet']" class="nav-link">{{"Navigation.Create" | translate}}</a>
                </li>
                <li routerLinkActive="active" class="nav-item">
                    <a [routerLink]="['about']" class="nav-link">{{"Navigation.About" | translate}}</a>
                </li>
                <!-- <li routerLinkActive="active" class="nav-item">
                    <a href="" class="nav-link">{{"Navigation.Contacts" | translate}}</a>
                </li> -->
                <li *ngIf="isSignedIn" class="nav-item">
                    <a (click)="logout()" style="cursor: pointer;" class="nav-link">{{"Navbar.Logout" | translate}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>