.navbar {
    border-bottom: #008ed6 3px solid;
    opacity: 0.8;
}

.lang {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.language-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.language {
    width: 20px;
    height: auto;
    cursor: pointer;
}

.active-lang {
    filter: brightness(100%);
}

.inactive {
    filter: brightness(50%);
    cursor: pointer;
}

.inactive:hover {
    filter: brightness(70%);
}