<div>
    <div class="row">
        <div class="date-outer col-lg-5 col-md-12 col-12" data-aos="fade-down" data-aos-duration="1200"
            data-aos-once="true" data-aos-delay="200">
            <div class="date card px-3">
                <div class="mr-2">{{'CustomCompare.SelectFirst' | translate}}:</div>
                <div class="date-value">{{getFormat(firstDate.value)}}</div>
                <mat-form-field class="calendar">
                    <input #ref1 (dateChange)="orgValueChangeFirst(ref1.value)" [formControl]="firstDate"
                        class="date-picker" matInput [matDatepicker]="picker1" [value]="firstDate.value">
                    <mat-datepicker-toggle class="dp" matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker class="dp" #picker1></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="col-lg-2 col-md-12 col-12 mb-3 date-outer" data-aos="fade-up" data-aos-duration="1200"
            data-aos-once="true" data-aos-delay="300">
            <button class="btn select-date" (click)="selectDates()">{{'CustomCompare.Select' | translate}}</button>
        </div>
        <div class="date-outer col-lg-5 col-md-12 col-12" data-aos="fade-down" data-aos-duration="1200"
            data-aos-once="true" data-aos-delay="200">
            <div class="date card px-3">
                <div class="mr-2">{{'CustomCompare.SelectSecond' | translate}}:</div>
                <div class="date-value">{{getFormat(secondDate.value)}}</div>
                <mat-form-field class="calendar">
                    <input #ref2 (dateChange)="orgValueChangeSecond(ref2.value)" [formControl]="secondDate"
                        class="date-picker" matInput [matDatepicker]="picker2" [value]="secondDate.value">
                    <mat-datepicker-toggle class="dp" matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker class="dp" #picker2></mat-datepicker>
                </mat-form-field>
            </div>
        </div>

    </div>

    <div class="row mt-5 data-column" *ngIf="showData">
        <div *ngIf="isSpecifiedDataStatisticsFirstTotalNil" class="col-lg-6 col-sm-12 col-12">
            <div style="font-size: 22px;" class="card col-12 p-5 text-uppercase text-center">
                {{'Expenses.Nothing' | translate}} {{'Expenses.On' | translate}} {{getFormat(firstDate.value)}}
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-12">
        <app-manual-data-set [specifiedDataStatistics]="specifiedDataStatistics.firstMonth" [date]="getFormattedDate(firstDate)" 
        [currency]="walletCurrency" 
        [categories]="categories">
    </app-manual-data-set>
</div>
        <div *ngIf="isSpecifiedDataStatisticsSecondTotalNil" class="col-lg-6 col-sm-12 col-12">
            <div style="font-size: 22px;" class="card col-12 p-5 text-uppercase text-center">
                {{'Expenses.Nothing' | translate}} {{'Expenses.On' | translate}} {{getFormat(secondDate.value)}}
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-12">
            <app-manual-data-set [specifiedDataStatistics]="specifiedDataStatistics.secondMonth" 
            [date]="getFormattedDate(secondDate)" 
            [currency]="walletCurrency"  
            [categories]="categories">
        </app-manual-data-set>
    </div>
    </div>
</div>