<div>
    <div class="row">
        <div class="date-outer col-lg-5 col-md-12 col-12" data-aos="fade-down" data-aos-duration="1200"
            data-aos-once="true" data-aos-delay="200">
            <div class="date card px-3">
                <div class="mr-2">{{'CustomCompare.SelectFirst' | translate}}:</div>
                <div class="date-value">{{getFormat(firstDate.value)}}</div>
                <mat-form-field class="calendar">
                    <input #ref1 (dateChange)="orgValueChangeFirst(ref1.value)" [formControl]="firstDate"
                        class="date-picker" matInput [matDatepicker]="picker1" [value]="firstDate.value">
                    <mat-datepicker-toggle class="dp" matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker class="dp" #picker1></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="col-lg-2 col-md-12 col-12 mb-3 date-outer" data-aos="fade-up" data-aos-duration="1200"
            data-aos-once="true" data-aos-delay="300">
            <button class="btn select-date" (click)="selectDates()">{{'CustomCompare.Select' | translate}}</button>
        </div>
        <div class="date-outer col-lg-5 col-md-12 col-12" data-aos="fade-down" data-aos-duration="1200"
            data-aos-once="true" data-aos-delay="200">
            <div class="date card px-3">
                <div class="mr-2">{{'CustomCompare.SelectSecond' | translate}}:</div>
                <div class="date-value">{{getFormat(secondDate.value)}}</div>
                <mat-form-field class="calendar">
                    <input #ref2 (dateChange)="orgValueChangeSecond(ref2.value)" [formControl]="secondDate"
                        class="date-picker" matInput [matDatepicker]="picker2" [value]="secondDate.value">
                    <mat-datepicker-toggle class="dp" matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker class="dp" #picker2></mat-datepicker>
                </mat-form-field>
            </div>
        </div>

    </div>

    <div class="row mt-5 data-column" *ngIf="showData">
        <div *ngIf="specifiedDataStatisticsFirstTotal" class="col-lg-6 col-sm-12 col-12">
            <div style="font-size: 22px;" class="card col-12 p-5 text-uppercase text-center">
                {{'Expenses.Nothing' | translate}} {{'Expenses.On' | translate}} {{getFormat(firstDate.value)}}
            </div>
        </div>
        <div *ngIf="!specifiedDataStatisticsFirstTotal" class="col-lg-6 col-sm-12 col-12">
            <div class="d-lg-none">
                <div class="card p-3 text-center text-uppercase">
                    {{getFormat(firstDate.value)}}
                </div>
            </div>
            <div class="col-12" [ngClass]="{'fade-in-left': showData}">
                <app-card [classes]="['nc-icon nc-chart-bar-32 text-success', null]" [mainText]="'Expenses.MostSpent'"
                    [subText]="'ExpenseCategory.'+specifiedDataStatistics.firstMonthMostSpent" [subTextNone]="'None found'" [hasFooter]="false"
                    [footerText]="null" [footerTextNone]="null">
                </app-card>
            </div>
            <div class="col-12" [ngClass]="{'fade-in-left-s': showData}">
                <app-card [classes]="['nc-icon nc-chart-bar-32 text-primary', null]" [mainText]="'Expenses.MostUsed'"
                    [subText]="'ExpenseCategory.'+specifiedDataStatistics.firstMonthMostUsed" [subTextNone]="'None found'" [hasFooter]="false"
                    [footerText]="null" [footerTextNone]="null">
                </app-card>
            </div>
            <div class="col-12" [ngClass]="{'fade-in-left-t': showData}">
                <app-card [classes]="['nc-icon nc-money-coins text-secondary', null]" [mainText]="'Expenses.Average'"
                    [subText]="specifiedDataStatistics.firstMonthAverage" [subTextNone]="0" [hasFooter]="false" [footerText]="null"
                    [footerTextNone]="null">
                </app-card>
            </div>
            <div class="col-12" [ngClass]="{'fade-in-left-f': showData}">
                <app-card [classes]="['nc-icon nc-money-coins text-primary', null]" [mainText]="'Expenses.Total'"
                    [subText]="specifiedDataStatistics.firstMonthTotal" [subTextNone]="0" [hasFooter]="false" [footerText]="null"
                    [footerTextNone]="null">
                </app-card>
            </div>
            <div class="col-12" [ngClass]="{'fade-in-left-x': showData}">
                <app-card [classes]="['nc-icon nc-money-coins text-success', null]" [mainText]="'Expenses.Largest'"
                    [subText]="specifiedDataStatistics.firstLargestExpense" [subTextNone]="0" [hasFooter]="false" [footerText]="null"
                    [footerTextNone]="null">
                </app-card>
            </div>
            <div class="col-12" [ngClass]="{'fade-in-left': showData}">
                <div class="card" style="border-radius: 12px;">
                    <div class="card-header">
                        <h5 class="card-title">{{'Expenses.CategoryCompare' | translate}}</h5>
                    </div>
                    <div class="card-body ">
                        <div *ngIf="specifiedDataStatistics.firstMonthPreviousExpensesBars && getCategoriesLength">
                            <app-donut-chart-categories [categories]="categories"
                                [barExpensesList]="specifiedDataStatistics.firstMonthPreviousExpensesBars"></app-donut-chart-categories>
                        </div>
                    </div>
                    <div class="card-footer">
                        <hr>
                        <div class="stats">
                            <i class="fa fa-money"></i> {{'Footer.NumberExp' | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12" [ngClass]="{'fade-in-left': showData}">
                <div class="card" style="border-radius: 12px;">
                    <div class="card-header">
                        <h5 class="card-title">{{'Expenses.Top' | translate}}</h5>
                    </div>
                    <div class="card-body ">
                        <div *ngIf="specifiedDataStatistics.firstMonthTopFiveUsers != null">
                            <app-pie-graph [topFiveUsers]="specifiedDataStatistics.firstMonthTopFiveUsers"></app-pie-graph>
                        </div>
                    </div>
                    <div class="card-footer">
                        <hr>
                        <div class="stats">
                            <i class="fa fa-money"></i> {{'Footer.Top5' | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 card" [ngClass]="{'fade-in-left': showData}">
                <div class="mat-elevation-z8 text-center" style="box-shadow: none;">
                    <table style="width: 100%;" mat-table [dataSource]="firstMonthExpenses">
                        <ng-container matColumnDef="expenseTitle">
                            <th class="text-center table-head title-table-header" mat-header-cell *matHeaderCellDef>
                                {{'Expenses.Expense' | translate}} </th>
                            <td class="table-text title-table-cell" mat-cell *matCellDef="let element">
                                {{element.expenseTitle}} </td>
                        </ng-container>
                        <ng-container matColumnDef="userName">
                            <th class="text-center table-head user-table-header" mat-header-cell *matHeaderCellDef>
                                {{'Expenses.User' | translate}} </th>
                            <td class="table-text user-table-cell" mat-cell *matCellDef="let element">
                                {{element.userName}} </td>
                        </ng-container>
                        <ng-container matColumnDef="category">
                            <th class="text-center table-head category-table-header" mat-header-cell *matHeaderCellDef>
                                {{'Expenses.Category' | translate}} </th>
                            <td class="table-text category-table-cell" mat-cell *matCellDef="let element">
                                {{element.expenseCategory}} </td>
                        </ng-container>
                        <ng-container matColumnDef="moneySpent">
                            <th class="text-center table-head money-table-header" mat-header-cell *matHeaderCellDef>
                                {{'Currency.' + walletCurrency + 'Sign' | translate}} </th>
                            <td class="table-text money-table-cell " mat-cell *matCellDef="let element">
                                {{element.moneySpent}} </td>
                        </ng-container>
                        <ng-container matColumnDef="creationDate">
                            <th class="text-center table-head date-table-header" mat-header-cell *matHeaderCellDef>
                                {{'Expenses.Date' | translate}} </th>
                            <td class="table-text date-table-cell" mat-cell *matCellDef="let element">
                                {{element.creationDate | date :'short'}}
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="columnsForSecondExpenses"></tr>
                        <tr mat-row *matRowDef="let row; columns: columnsForSecondExpenses;"></tr>
                    </table>

                    <mat-paginator #firstPaginator [pageSizeOptions]="[10]" [hidePageSize]="true" showFirstLastButtons>
                    </mat-paginator>

                </div>
            </div>
        </div>
        <div *ngIf="specifiedDataStatisticsSecondTotal" class="col-lg-6 col-sm-12 col-12">
            <div style="font-size: 22px;" class="card col-12 p-5 text-uppercase text-center">
                {{'Expenses.Nothing' | translate}} {{'Expenses.On' | translate}} {{getFormat(secondDate.value)}}
            </div>
        </div>
        <div *ngIf="!specifiedDataStatisticsSecondTotal" class="col-lg-6 col-sm-12 col-12">
            <div class="d-lg-none mt-5">
                <div class="card p-3 text-center text-uppercase">
                    {{secondDate.value}}
                </div>
            </div>
            <div class="col-12" [ngClass]="{'fade-in-right': showData}">
                <app-card [classes]="['nc-icon nc-chart-bar-32 text-success', null]" [mainText]="'Expenses.MostSpent'"
                    [subText]="'ExpenseCategory.'+specifiedDataStatistics.secondMonthMostSpent" [subTextNone]="'None found'" [hasFooter]="false"
                    [footerText]="null" [footerTextNone]="null">
                </app-card>
            </div>
            <div class="col-12" [ngClass]="{'fade-in-right-s': showData}">
                <app-card [classes]="['nc-icon nc-chart-bar-32 text-primary', null]" [mainText]="'Expenses.MostUsed'"
                    [subText]="'ExpenseCategory.'+specifiedDataStatistics.secondMonthMostUsed" [subTextNone]="'None found'" [hasFooter]="false"
                    [footerText]="null" [footerTextNone]="null">
                </app-card>
            </div>
            <div class="col-12" [ngClass]="{'fade-in-right-t': showData}">
                <app-card [classes]="['nc-icon nc-money-coins text-secondary', null]" [mainText]="'Expenses.Average'"
                    [subText]="specifiedDataStatistics.secondMonthAverage" [subTextNone]="0" [hasFooter]="false" [footerText]="null"
                    [footerTextNone]="null">
                </app-card>
            </div>
            <div class="col-12" [ngClass]="{'fade-in-right-f': showData}">
                <app-card [classes]="['nc-icon nc-money-coins text-primary', null]" [mainText]="'Expenses.Total'"
                    [subText]="specifiedDataStatistics.secondMonthTotal" [subTextNone]="0" [hasFooter]="false" [footerText]="null"
                    [footerTextNone]="null">
                </app-card>
            </div>
            <div class="col-12" [ngClass]="{'fade-in-right-x': showData}">
                <app-card [classes]="['nc-icon nc-money-coins text-success', null]" [mainText]="'Expenses.Largest'"
                    [subText]="specifiedDataStatistics.secondLargestExpense" [subTextNone]="0" [hasFooter]="false" [footerText]="null"
                    [footerTextNone]="null">
                </app-card>
            </div>
            <div class="col-12" [ngClass]="{'fade-in-right': showData}">
                <div class="card" style="border-radius: 12px;">
                    <div class="card-header">
                        <h5 class="card-title">{{'Expenses.CategoryCompare' | translate}}</h5>
                    </div>
                    <div class="card-body ">
                        <div *ngIf="specifiedDataStatistics.secondMonthPreviousExpensesBars && getCategoriesLength">
                            <app-donut-chart-categories [categories]="categories"
                                [barExpensesList]="specifiedDataStatistics.secondMonthPreviousExpensesBars"></app-donut-chart-categories>
                        </div>
                    </div>
                    <div class="card-footer">
                        <hr>
                        <div class="stats">
                            <i class="fa fa-money"></i> {{'Footer.NumberExp' | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12" [ngClass]="{'fade-in-right': showData}">
                <div class="card" style="border-radius: 12px;">
                    <div class="card-header">
                        <h5 class="card-title">{{'Expenses.Top' | translate}}</h5>
                    </div>
                    <div class="card-body ">
                        <div *ngIf="specifiedDataStatistics.secondMonthTopFiveUsers">
                            <app-pie-graph [topFiveUsers]="specifiedDataStatistics.secondMonthTopFiveUsers"></app-pie-graph>
                        </div>
                    </div>
                    <div class="card-footer">
                        <hr>
                        <div class="stats">
                            <i class="fa fa-money"></i> {{'Footer.Top5' | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 card" [ngClass]="{'fade-in-right': showData}">
                <div class="mat-elevation-z8 text-center" style="box-shadow: none;">
                    <table style="width: 100%;" mat-table [dataSource]="secondMonthExpenses">
                        <ng-container matColumnDef="expenseTitle">
                            <th class="text-center table-head title-header" mat-header-cell *matHeaderCellDef>
                                {{'Expenses.Expense' | translate}} </th>
                            <td class="table-text title-cell" mat-cell *matCellDef="let element">
                                {{element.expenseTitle}} </td>
                        </ng-container>
                        <ng-container matColumnDef="userName">
                            <th class="text-center table-head user-header" mat-header-cell *matHeaderCellDef>
                                {{'Expenses.User' | translate}} </th>
                            <td class="table-text user-cell" mat-cell *matCellDef="let element"> {{element.userName}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="category">
                            <th class="text-center table-head category-header" mat-header-cell *matHeaderCellDef>
                                {{'Expenses.Category' | translate}} </th>
                            <td class="table-text category-cell" mat-cell *matCellDef="let element">
                                {{element.expenseCategory}} </td>
                        </ng-container>
                        <ng-container matColumnDef="moneySpent">
                            <th class="text-center table-head money-header" mat-header-cell *matHeaderCellDef>
                                {{'Currency.' + walletCurrency + 'Sign' | translate}} </th>
                            <td class="table-text money-cell" mat-cell *matCellDef="let element"> {{element.moneySpent}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="creationDate">
                            <th class="text-center table-head date-header" mat-header-cell *matHeaderCellDef>
                                {{'Expenses.Date' | translate}} </th>
                            <td class="table-text date-cell" mat-cell *matCellDef="let element"> {{element.creationDate
                                | date :'short'}}
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="columnsForSecondExpenses"></tr>
                        <tr mat-row *matRowDef="let row; columns: columnsForSecondExpenses;"></tr>
                    </table>
                    <mat-paginator #secondPaginator [pageSizeOptions]="[10]" [hidePageSize]="true"
                        showsecondLastButtons>
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>